In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
from copy import deepcopy
import os

In [2]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
apartment_url = 'https://mentalfloss.com/article/81296/average-cost-one-bedroom-apartments-50-major-us-cities'
count=0
Apartment_df = pd.DataFrame()
apartmentlist=[]
browser.visit(apartment_url)
apartm = browser.html
apartm_soup = bs(apartm, 'html.parser')
table = apartm_soup.find('tbody')
for info in table.find_all('tr'):
    values=info.text
    apartmentlist.append(values)

ApartmentInfo=Apartment_df.append(apartmentlist)
ApartmentInfo = pd.DataFrame(ApartmentInfo)
ApartmentInfo.head()

                                      0
0  \nSan Francisco, California\n$3600\n
1       \nSan Jose, California\n$2536\n
2         \nNew York, New York\n$2200\n
3             \nWashington, DC\n$2172\n
4      \nBoston, Massachusetts\n$2025\n

In [5]:
new = ApartmentInfo[0].str.split("\n", n = 3, expand = True)
Apt_df = new[[1,2]]
Apt_df.head()

                           1      2
0  San Francisco, California  $3600
1       San Jose, California  $2536
2         New York, New York  $2200
3             Washington, DC  $2172
4      Boston, Massachusetts  $2025

From apt_df, we split column 1(index1) at the comma so that the city and state are 2 different columns. Then we put the state and city into 2 different columns within a new dataframe. Then we pick column 2(index2) from the Apt_df and assign it to column2(index2) in the new dataframe. So, now we have a total of 3 columns in the new dataframe.

In [6]:
new_df = Apt_df[1].str.split(",", n=1, expand=True)
new_df[2] = Apt_df[2]
new_df[2] = Apt_df[2].str.replace("$","")
new_df.columns=['CITY', 'STATE', '1BEDROOM']
new_df.head()

            CITY           STATE 1BEDROOM
0  San Francisco      California     3600
1       San Jose      California     2536
2       New York        New York     2200
3     Washington              DC     2172
4         Boston   Massachusetts     2025

In [7]:
new_df.to_csv('OnebedroomApt2.csv')

In [8]:
CollegebyState = pd.read_csv('UScollegesUniversitiesByState.csv', encoding='ISO-8859-1')
CollegebyState.head()

,Name,Location,Rank,Description,Tuition and fees,In-state,Undergrad Enrollment
0,Princeton University,"Princeton, NJ",1,"Princeton, the fourth-oldest college in the Un...","$45,320",NaN,"5,402"
1,Harvard University,"Cambridge, MA",2,"Harvard is located in Cambridge, Massachusetts...","$47,074",NaN,"6,699"
2,University of Chicago,"Chicago, IL",3,"The University of Chicago, situated in Chicago...","$52,491",NaN,"5,844"
3,Yale University,"New Haven, CT",3,"Yale University, located in New Haven, Connect...","$49,480",NaN,"5,532"
4,Columbia University,"New York, NY",5,"Columbia University, located in Manhattan's Mo...","$55,056",NaN,"6,102"

In [14]:
newCollegebyState = CollegebyState['Location'].str.split(",", n=1, expand=True)
newCollegebyState[2] = CollegebyState['Location']
newCollegebyState
# new_Col[3] = CollegebyState[1]
# new_Col.columns=['INSTITUTION', 'CITY','STATE']
# new_Col.head()

KeyError: 'Location'