In [1]:
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd
from copy import deepcopy

In [2]:
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

In [3]:
base_url = 'https://www.payscale.com/cost-of-living-calculator/'

In [4]:
State_list = ['Alabama',
'Alaska',
'Arizona',
'Arkansas',
'California',
'Colorado',
'Connecticut',
'Delaware',
'Florida',
'Georgia',
'Hawaii',
'Idaho',
'Illinois',
'Indiana',
'Iowa',
'Kansas',
'Kentucky',
'Louisiana',
'Maine',
'Maryland',
'Massachusetts',
'Michigan',
'Minnesota',
'Mississippi',
'Missouri',
'Montana',
'Nebraska',
'Nevada',
'New_Hampshire',
'New_Jersey',
'New_Mexico',
'New_York',
'North_Carolina',
'North_Dakota',
'Ohio',
'Oklahoma',
'Oregon',
'Pennsylvania',
'Rhode_Island',
'South_Carolina',
'South_Dakota',
'Tennessee',
'Texas',
'Utah',
'Vermont',
'Virginia',
'Washington',
'West_Virginia',
'Wisconsin',
'Wyoming']

In [5]:
abbr = ['AL',
'AK',
'AZ',
'AR',
'CA',
'CO',
'CT',
'DE',
'FL',
'GA',
'HI',
'ID',
'IL',
'IN',
'IA',
'KS',
'KY',
'LA',
'ME',
'MD',
'MA',
'MI',
'MN',
'MS',
'MO',
'MT',
'NE',
'NV',
'NH',
'NJ',
'NM',
'NY',
'NC',
'ND',
'OH',
'OK',
'OR',
'PA',
'RI',
'SC',
'SD',
'TN',
'TX',
'UT',
'VT',
'VA',
'WA',
'WV',
'WI',
'WY']

In [6]:
# State_list

In [7]:
# pages = []
# for page in State_list:
#     page_url = f"{base_url}{page}"
   
#     pages.append(page_url)
#     print(page_url)

In [8]:
sal_reg = "salaries-by-region.csv"
df = pd.read_csv(sal_reg, encoding="ISO-8859-1")
df

,School Name,City,State,Region,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Stanford University,Stanford,CA,California,"$70,400.00","$129,000.00","$68,400.00","$93,100.00","$184,000.00","$257,000.00"
1,California Institute of Technology (CIT),Pasadena,CA,California,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,Claremont,CA,California,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"University of California, Berkeley",Berkeley,CA,California,"$59,900.00","$112,000.00","$59,500.00","$81,000.00","$149,000.00","$201,000.00"
4,Occidental College,Los Angeles,CA,California,"$51,900.00","$105,000.00",NaN,"$54,800.00","$157,000.00",NaN
5,Cal Poly San Luis Obispo,San Lios Obispo,CA,California,"$57,200.00","$101,000.00","$55,000.00","$74,700.00","$133,000.00","$178,000.00"
6,University of California at Los Angeles (UCLA),Los Angeles,CA,California,"$52,600.00","$101,000.00","$51,300.00","$72,500.00","$139,000.00","$193,000.00"
7,"University of California, San Diego (UCSD)",San Diego,CA,California,"$51,100.00","$101,000.00","$51,700.00","$75,400.00","$131,000.00","$177,000.00"
8,Pomona College,Claremont,CA,California,"$48,600.00","$101,000.00",NaN,"$63,300.00","$161,000.00",NaN
9,University of Southern California (USC),Los Angeles,CA,California,"$54,800.00","$99,600.00","$49,700.00","$73,800.00","$140,000.00","$201,000.00"
10,"University of California, Davis",Davis,CA,California,"$52,300.00","$99,600.00","$52,000.00","$71,600.00","$135,000.00","$202,000.00"
11,"University of California, Irvine (UCI)",Irbine,CA,California,"$48,300.00","$96,700.00","$47,800.00","$66,000.00","$123,000.00","$172,000.00"
12,San Jose State University (SJSU),San Jose,CA,California,"$53,500.00","$95,600.00","$50,700.00","$70,500.00","$122,000.00","$156,000.00"
13,"University of California, Santa Barbara (UCSB)",Santa Barbara,CA,California,"$50,500.00","$95,000.00","$51,300.00","$71,200.00","$129,000.00","$173,000.00"
14,"California State University (CSU), Chico",Chico,CA,California,"$47,400.00","$88,100.00","$46,800.00","$62,800.00","$122,000.00","$154,000.00"
15,"California State University, Fullerton (CSUF)",Fullerton,CA,California,"$45,700.00","$87,000.00","$45,400.00","$62,500.00","$119,000.00","$158,000.00"
16,San Francisco State University (SFSU),San Francisco,CA,California,"$47,300.00","$86,400.00","$45,100.00","$62,700.00","$114,000.00","$150,000.00"
17,San Diego State University (SDSU),San Diego,CA,California,"$46,200.00","$85,200.00","$45,500.00","$61,800.00","$116,000.00","$158,000.00"
18,"California State University, Long Beach (CSULB)",Long Beach,CA,California,"$45,100.00","$84,700.00","$47,400.00","$62,500.00","$113,000.00","$154,000.00"
19,"California State University, East Bay (CSUEB)",East Bay,CA,California,"$49,200.00","$84,300.00","$46,000.00","$62,400.00","$115,000.00","$155,000.00"
20,"University of California, Santa Cruz (UCSC)",Santa Cruz,CA,California,"$44,700.00","$84,100.00","$46,100.00","$62,000.00","$121,000.00","$165,000.00"
21,"California State University, Sacramento (CSUS)",Sacramento,CA,California,"$47,800.00","$82,400.00","$42,900.00","$59,600.00","$111,000.00","$154,000.00"
22,"University of California, Riverside (UCR)",Riverside,CA,California,"$46,800.00","$81,300.00","$37,200.00","$59,900.00","$109,000.00","$134,000.00"
23,"California State University, Northridge (CSUN)",Northridge,CA,California,"$45,500.00","$80,400.00","$44,500.00","$57,800.00","$108,000.00","$153,000.00"
24,"California State University, Dominguez Hills (...",Dominguez Hills,CA,California,"$42,700.00","$72,100.00","$30,800.00","$47,000.00","$92,200.00","$132,000.00"
25,"California State University (CSU), Stanislaus",Stanislaus,CA,California,"$38,000.00","$71,400.00",NaN,"$50,500.00","$94,100.00",NaN
26,Humboldt State University,Arcata,CA,California,"$42,600.00","$71,300.00","$36,000.00","$56,300.00","$94,400.00","$117,000.00"
27,Thomas Aquinas College,Santa Paula,CA,California,"$41,500.00","$67,500.00",NaN,"$44,600.00","$93,100.00",NaN
28,Colorado School of Mines,Golden,CO,Western,"$58,100.00","$106,000.00","$62,200.00","$87,900.00","$142,000.00","$201,000.00"
29,University of Colorado - Boulder (UCB),Boulder,CO,Western,"$47,100.00","$97,600.00","$51,600.00","$69,000.00","$128,000.00","$187,000.00"
...,...,...,...,...,...,...,...,...,...,...
290,Dowling College,New York,NY,Northeastern,"$41,100.00","$82,800.00","$46,500.00","$60,600.00","$117,000.00","$142,000.00"
291,University of Vermont (UVM),Burlington,VT,Northeastern,"$44,800.00","$82,700.00","$44,700.00","$58,000.00","$122,000.00","$194,000.00"
292,State University of New York (SUNY) at Buffalo,Buffalo,NY,Northeastern,"$46,200.00","$81,700.00","$45,900.00","$61,400.00","$110,000.00","$147,000.00"
293,State University of New York (SUNY) at Geneseo,Geneseo,NY,Northeastern,"$42,300.00","$81,300.00","$39,300.00","$47,600.00","$117,000.00","$173,000.00"
294,Fashion Institute of Technology,New York,NY,Northeastern,"$42,800.00","$81,000.00","$38,800.00","$60,500.00","$106,000.00","$138,000.00"
295,Philadelphia University,Philadelphia,PA,Northeastern,"$45,100.00","$80,300.00","$45,800.00","$61,900.00","$108,000.00","$141,000.00"
296,Ursinus College,Collegeville,PA,Northeastern,"$42,100.00","$80,000.00","$35,600.00","$54,300.00","$100,000.00","$160,000.00"
297,Adelphi University,Garden City,NY,Northeastern,"$40,600.00","$79,200.00","$44,200.00","$54,800.00","$114,000.00","$160,000.00"
298,Juniata College,Huntingdon,PA,Northeastern,"$41,800.00","$78,900.00",NaN,"$67,200.00","$110,000.00",NaN
299,Fairleigh Dickinson University,Teaneck,NJ,Northeastern,"$45,700.00","$78,700.00","$40,200.00","$56,300.00","$112,000.00","$171,000.00"
300,University of New Hampshire (UNH),Durham,NH,Northeastern,"$41,800.00","$78,300.00","$41,700.00","$56,400.00","$114,000.00","$147,000.00"
301,University of Massachusetts (UMass) - Boston,Boston,MA,Northeastern,"$45,600.00","$78,200.00","$36,300.00","$53,800.00","$109,000.00","$151,000.00"
302,State University of New York (SUNY) at Oswego,Oswego,NY,Northeastern,"$38,000.00","$77,800.00","$40,400.00","$53,000.00","$115,000.00","$169,000.00"
303,University of Massachusetts (UMass) - Dartmouth,Dartmouth,MA,Northeastern,"$43,200.00","$77,700.00","$43,300.00","$56,200.00","$107,000.00","$132,000.00"
304,State University of New York (SUNY) at Oneonta,Oneonta,NY,Northeastern,"$37,500.00","$76,700.00","$40,000.00","$54,300.00","$97,700.00","$155,000.00"
305,Quinnipiac University,Hamden,CT,Northeastern,"$43,000.00","$76,500.00","$47,900.00","$57,400.00","$117,000.00","$155,000.00"
306,State University of New York (SUNY) at Plattsb...,Plattsburgh,NY,Northeastern,"$40,800.00","$76,200.00","$38,400.00","$54,100.00","$105,000.00","$136,000.00"
307,Sacred Heart University,Fairfield,CT,Northeastern,"$46,000.00","$75,300.00","$39,700.00","$54,800.00","$105,000.00","$150,000.00"
308,Skidmore College,Saratoga Springs,NY,Northeastern,"$41,600.00","$74,600.00",NaN,"$42,800.00","$147,000.00",NaN
309,Moravian College,Bethlehem,PA,Northeastern,"$42,500.00","$74,400.00",NaN,"$56,700.00","$94,900.00",NaN
310,Penn State - Harrisburg,Harrisburg,PA,Northeastern,"$45,700.00","$74,000.00","$44,000.00","$53,100.00","$104,000.00","$150,000.00"
311,Suffolk University,Boston,MA,Northeastern,"$42,100.00","$74,000.00","$48,700.00","$57,800.00","$95,100.00","$145,000.00"
312,Fitchburg State College,Fitchburg,MA,Northeastern,"$42,400.00","$72,600.00","$43,300.00","$56,100.00","$99,600.00","$151,000.00"
313,Roger Williams University,Bristol,RI,Northeastern,"$42,000.00","$72,300.00","$39,800.00","$48,500.00","$102,000.00","$138,000.00"
314,University Of Maine,Orono,ME,Northeastern,"$41,200.00","$72,100.00","$41,700.00","$55,600.00","$99,300.00","$141,000.00"
315,State University of New York (SUNY) at Potsdam,Potsdam,NY,Northeastern,"$38,000.00","$70,300.00","$35,100.00","$51,200.00","$100,000.00","$179,000.00"
316,Niagara University,Niagara University,NY,Northeastern,"$36,900.00","$69,700.00","$44,000.00","$57,000.00","$92,000.00","$128,000.00"
317,State University of New York (SUNY) at Fredonia,Fredonia,NY,Northeastern,"$37,800.00","$66,200.00","$32,800.00","$44,200.00","$93,300.00","$181,000.00"
318,University of Southern Maine,Portland,ME,Northeastern,"$39,400.00","$63,600.00","$40,400.00","$47,900.00","$85,700.00","$117,000.00"
319,Mercy College,Dobbs Ferry,NY,Northeastern,"$43,700.00","$62,600.00","$35,600.00","$47,300.00","$99,000.00","$134,000.00"

In [9]:
new_df = df.replace(abbr, State_list)
new_df.head()

,School Name,City,State,Region,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Stanford University,Stanford,California,California,"$70,400.00","$129,000.00","$68,400.00","$93,100.00","$184,000.00","$257,000.00"
1,California Institute of Technology (CIT),Pasadena,California,California,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,Claremont,California,California,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"University of California, Berkeley",Berkeley,California,California,"$59,900.00","$112,000.00","$59,500.00","$81,000.00","$149,000.00","$201,000.00"
4,Occidental College,Los Angeles,California,California,"$51,900.00","$105,000.00",NaN,"$54,800.00","$157,000.00",NaN

In [10]:
edit_df= new_df.replace(' ', '-', regex=True)


city_state_df = edit_df[['State','City']]

city_state_df

city_state_df["state_city"] = city_state_df["State"].map(str) + '-' + city_state_df["City"]

city_state_list = city_state_df['state_city'].tolist()

city_state_list

C:\Users\Mason\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

['California-Stanford',
 'California-Pasadena',
 'California-Claremont',
 'California-Berkeley',
 'California-Los-Angeles',
 'California-San-Lios-Obispo',
 'California-Los-Angeles',
 'California-San-Diego',
 'California-Claremont',
 'California-Los-Angeles',
 'California-Davis',
 'California-Irbine',
 'California-San-Jose',
 'California-Santa-Barbara',
 'California-Chico',
 'California-Fullerton',
 'California-San-Francisco',
 'California-San-Diego',
 'California-Long-Beach',
 'California-East-Bay',
 'California-Santa-Cruz',
 'California-Sacramento',
 'California-Riverside',
 'California-Northridge',
 'California-Dominguez-Hills',
 'California-Stanislaus',
 'California-Arcata',
 'California-Santa-Paula',
 'Colorado-Golden',
 'Colorado-Boulder',
 'New_Mexico-Socorro',
 'Utah-Provo',
 'Arizona-Tucson',
 'Washington-Seattle',
 'Washington-Pullman',
 'Colorado-Denver',
 'Arizona-Tempe',
 'Oregon-Corvallis',
 'Utah-Salt-Lake-City',
 'Nevada-Reno',
 'Washington-Seattle',
 'Idaho-Moscow',
 'New_Mexico-Albuquerque',
 'Washington-Tacoma',
 'Colorado-Colorado-Springs',
 'Oregon-Portland',
 'Washington-Walla-Walla',
 'New_Mexico-Las-Cruces',
 'Colorado-Fort-Collins',
 'Wyoming-Laramie',
 'Utah-Logan',
 'Oregon-Eugene',
 'Montana-Bozeman',
 'Washington-Spokane',
 'Hawaii-Honolulu',
 'Washington-Bellingham',
 'Colorado-Denver',
 'Idaho-Pocatello',
 'Alaska-Anchorage',
 'Oregon-Portland',
 'Montana-Missoula',
 'Nevada-Las-Vegas',
 'Oregon-Portland',
 'Washington-Cheney',
 'Colorado-Durango',
 'Idaho-Boise',
 'Utah-Orem',
 'Washington-Olympia',
 'Utah-Cedar-City',
 'Montana-Billings',
 'Indiana-Notre-Dame',
 'Illinois-Chicago',
 'Minnesota-Northfield',
 'Illinois-Chicago',
 'Ohio-Cleveland',
 'Illinois-Champaign',
 'Illinois-Evanston',
 'Missouri-Rolla',
 'South_Dakota-Rapid-City',
 'Michigan-Ann-Arbor',
 'Indiana-West-Lafayette',
 'Wisconsin-Milwaukee',
 'Indiana-Greencastle',
 'Wisconsin-Madison',
 'Illinois-Peoria',
 'Minnesota-Minneapolis',
 'Michigan-East-Lansing',
 'Illinois-Chicago',
 'Iowa-Ames',
 'Minnesota-Minnesota',
 'Indiana-Bloomington',
 'Iowa-Iowa-City',
 'Ohio-Columbus',
 'Ohio-Granville',
 'Illinois-Chicago',
 'Ohio-Oberlin',
 'Kansas-Lawrence',
 'Missouri-Columbia',
 'Nebraska-Lincoln',
 'Illinois-Dekalb',
 'Minnesota-Saint-Peter',
 'North_Dakota-Grand-Forks',
 'Kansas-Manhattan',
 'Wisconsin-Platteville',
 'Ohio-Springfield',
 'North_Dakota-Fargo',
 'Iowa-Grinnell',
 'Michigan-Detroit',
 'Ohio-Toledo',
 'Wisconsin-Whitewater',
 'Minnesota-Mankato',
 'Wisconsin-Milwaukee',
 'Michigan-Kalamazoo',
 'South_Dakota-Brookings',
 'Ohio-Athens-Township',
 'Illinois-Normal',
 'Ohio-Cleveland',
 'Nebraska-Omaha',
 'Illinois-Carbondale',
 'Michigan-Ypsilanti',
 'Ohio-Bowling-Green',
 'Minnesota-St.-Cloud',
 'Wisconsin-Parkside',
 'Ohio-Akron',
 'Missouri-Springfield',
 'Wisconsin-La-Crosse',
 'Wisconsin-Stout',
 'Pennsylvania-Moon',
 'Missouri-St.-Louis',
 'Wisconsin-Oshkosh',
 'Missouri-Kansas-City',
 'Wisconsin-Eau-Claire',
 'Indiana-Muncie',
 'Missouri-Parkville',
 'Wisconsin-Stevens-Point',
 'Ohio-Kent',
 'Wisconsin-Green-Bay',
 'Ohio-Mayfield-Heights',
 'Kansas-Pittsburg',
 'Michigan-Grand-Rapids',
 'South_Dakota-Spearfish',
 'Texas-Houston',
 'DC-Washington',
 'North_Carolina-Durham',
 'Georgia-Atlanta',
 'Virginia-Lexington',
 'Tennessee-Nashville',
 'North_Carolina-Davidson',
 'Virginia-Charlottesville',
 'DC-Washington',
 'Texas-College-Station',
 'Louisiana-New-Orleans',
 'Virginia-Blacksburg',
 'Maryland-College-Park',
 'Virginia-University-of-Richmond',
 'Texas-Austin',
 'Georgia-Atlanta',
 'DC-Washington',
 'Oklahoma-Tulsa',
 'Texas-Waco',
 'Florida-Gainesville',
 'Louisiana-Baton-Rouge',
 'Virginia-Fairfax',
 'South_Carolina-Clemson',
 'Georgia-Athens',
 'Alabama-Auburn',
 'Delaware-Newark',
 'Virginia-Ashland',
 'North_Carolina-Raleigh',
 'Oklahoma-Oklahoma-City',
 'Arkansas-Fayetteville',
 'Alabama-Huntsville',
 'DC-Washington',
 'North_Carolina-Chapel-Hill',
 'Alabama-Tuscaloosa',
 'Texas-Arlington',
 'Oklahoma-Oklahoma-City',
 'Tennessee-Cookeville',
 'Texas-Houston',
 'Mississippi-University',
 'Texas-Beaumont',
 'Mississippi-Mississippi-State',
 'Kentucky-Lexington',
 'Texas-Fort-Worth',
 'West_Virginia-Morgantown',
 'Maryland-Baltimore',
 'Louisiana-Lafayette',
 'Florida-Miami',
 'Tennessee-Knoxville',
 'Arkansas-Monticello',
 'North_Carolina-Charlotte',
 'Georgia-Atlanta',
 'Texas-Longview',
 'Florida-Tallahassee',
 'Texas-El-Paso',
 'Florida-Orlando',
 'South_Carolina-Columbia',
 'Florida-Boca-Raton',
 'Florida-Tampa',
 'Texas-San-Antonio',
 'Alabama-Birmingham',
 'Tennessee-Memphis',
 'North_Carolina-Boone',
 'Virginia-Richmond',
 'North_Carolina-Greenville',
 'North_Carolina-Cullowhee',
 'Florida-Jacksonville',
 'North_Carolina-Wilmington',
 'Oklahoma-Oklahoma-City',
 'Arkansas-Jonesboro',
 'Texas-Stephenville',
 'Kentucky-Morehead',
 'Mississippi-Clinton',
 'Texas-Dallas',
 'Tennessee-Clarksville',
 'Florida-Saint-Leo',
 'Tennessee-Tusculum',
 'Virginia-Virginia-Beach',
 'Tennessee-Cleveland',
 'Florida-Fort-Lauderdale',
 'New_Hampshire-Hanover',
 'New_Jersey-Princeton',
 'Massachusetts-Cambridge',
 'Connecticut-New-Haven',
 'Massachusetts-Cambridge',
 'Pennsylvania-Philadelphia',
 'New_York-Brooklyn',
 'New_York-New-York',
 'Massachusetts-Worcester',
 'Pennsylvania-Pittsburgh',
 'New_York-Troy',
 'New_York-Ithaca',
 'Pennsylvania-Lewisburg',
 'Rhode_Island-Providence',
 'New_York-Hamilton',
 'New_York-New-York',
 'Massachusetts-Amherst',
 'Pennsylvania-Easton',
 'Maine-Brunswick',
 'Massachusetts-Worcester',
 'New_Jersey-Hoboken',
 'Pennsylvania-Bethlehem',
 'Pennsylvania-Swarthmore',
 'Massachusetts-Chestnut-Hill',
 'Massachusetts-Williamstown',
 'Pennsylvania-Villanova',
 'New_York-Bronx',
 'Connecticut-Middletown',
 'Massachusetts-Boston',
 'Maine-Lewiston',
 'New_York-Vestal',
 'Kentucky-Barbourville',
 'New_York-New-York',
 'New_York-Poughkeepsie',
 'Vermont-Middlebury',
 'Massachusetts-South-Hadley',
 'Massachusetts-Boston',
 'Pennsylvania-Philadelphia',
 'New_York-New-York',
 'New_York-Brookville',
 'New_York-Stony-Brook',
 'Pennsylvania-Lancaster',
 'New_York-Hempstead',
 'New_York-Albany',
 'New_Jersey-New-Brunswick',
 'New_York-New-York',
 'New_York-New-York',
 'New_Jersey-South-Orange',
 'New_Jersey-Lawrenceville',
 'Connecticut-Storrs',
 'Rhode_Island-Providence',
 'Massachusetts-Amherst',
 'New_York-Ithaca',
 'Massachusetts-Lowell',
 'Massachusetts-Boston',
 'New_York-Syracuse',
 'Maine-Waterville',
 'Pennsylvania-Gettysburg',
 'Pennsylvania-Philadelphia',
 'Rhode_Island-Kingston',
 'New_York-Loudonville',
 'Pennsylvania-Philadelphia',
 'New_York-Rochester',
 'Pennsylvania-Pittsburgh',
 'New_York-Farmingdale',
 'Massachusetts-Northampton',
 'New_York-Clinton',
 'Massachusetts-Wellesley',
 'Pennsylvania-Chester',
 'Connecticut-West-Haven',
 'New_York-New-York',
 'Vermont-Burlington',
 'New_York-Buffalo',
 'New_York-Geneseo',
 'New_York-New-York',
 'Pennsylvania-Philadelphia',
 'Pennsylvania-Collegeville',
 'New_York-Garden-City',
 'Pennsylvania-Huntingdon',
 'New_Jersey-Teaneck',
 'New_Hampshire-Durham',
 'Massachusetts-Boston',
 'New_York-Oswego',
 'Massachusetts-Dartmouth',
 'New_York-Oneonta',
 'Connecticut-Hamden',
 'New_York-Plattsburgh',
 'Connecticut-Fairfield',
 'New_York-Saratoga-Springs',
 'Pennsylvania-Bethlehem',
 'Pennsylvania-Harrisburg',
 'Massachusetts-Boston',
 'Massachusetts-Fitchburg',
 'Rhode_Island-Bristol',
 'Maine-Orono',
 'New_York-Potsdam',
 'New_York-Niagara-University',
 'New_York-Fredonia',
 'Maine-Portland',
 'New_York-Dobbs-Ferry']

In [11]:
pages = []
for page in city_state_list:
    page_url = f"{base_url}{page}"
    pages.append(page_url)
    print(page_url)

https://www.payscale.com/cost-of-living-calculator/California-Stanford
https://www.payscale.com/cost-of-living-calculator/California-Pasadena
https://www.payscale.com/cost-of-living-calculator/California-Claremont
https://www.payscale.com/cost-of-living-calculator/California-Berkeley
https://www.payscale.com/cost-of-living-calculator/California-Los-Angeles
https://www.payscale.com/cost-of-living-calculator/California-San-Lios-Obispo
https://www.payscale.com/cost-of-living-calculator/California-Los-Angeles
https://www.payscale.com/cost-of-living-calculator/California-San-Diego
https://www.payscale.com/cost-of-living-calculator/California-Claremont
https://www.payscale.com/cost-of-living-calculator/California-Los-Angeles
https://www.payscale.com/cost-of-living-calculator/California-Davis
https://www.payscale.com/cost-of-living-calculator/California-Irbine
https://www.payscale.com/cost-of-living-calculator/California-San-Jose
https://www.payscale.com/cost-of-living-calculator/California-Santa-Barbara
https://www.payscale.com/cost-of-living-calculator/California-Chico
https://www.payscale.com/cost-of-living-calculator/California-Fullerton
https://www.payscale.com/cost-of-living-calculator/California-San-Francisco
https://www.payscale.com/cost-of-living-calculator/California-San-Diego
https://www.payscale.com/cost-of-living-calculator/California-Long-Beach
https://www.payscale.com/cost-of-living-calculator/California-East-Bay
https://www.payscale.com/cost-of-living-calculator/California-Santa-Cruz
https://www.payscale.com/cost-of-living-calculator/California-Sacramento
https://www.payscale.com/cost-of-living-calculator/California-Riverside
https://www.payscale.com/cost-of-living-calculator/California-Northridge
https://www.payscale.com/cost-of-living-calculator/California-Dominguez-Hills
https://www.payscale.com/cost-of-living-calculator/California-Stanislaus
https://www.payscale.com/cost-of-living-calculator/California-Arcata
https://www.payscale.com/cost-of-living-calculator/California-Santa-Paula
https://www.payscale.com/cost-of-living-calculator/Colorado-Golden
https://www.payscale.com/cost-of-living-calculator/Colorado-Boulder
https://www.payscale.com/cost-of-living-calculator/New_Mexico-Socorro
https://www.payscale.com/cost-of-living-calculator/Utah-Provo
https://www.payscale.com/cost-of-living-calculator/Arizona-Tucson
https://www.payscale.com/cost-of-living-calculator/Washington-Seattle
https://www.payscale.com/cost-of-living-calculator/Washington-Pullman
https://www.payscale.com/cost-of-living-calculator/Colorado-Denver
https://www.payscale.com/cost-of-living-calculator/Arizona-Tempe
https://www.payscale.com/cost-of-living-calculator/Oregon-Corvallis
https://www.payscale.com/cost-of-living-calculator/Utah-Salt-Lake-City
https://www.payscale.com/cost-of-living-calculator/Nevada-Reno
https://www.payscale.com/cost-of-living-calculator/Washington-Seattle
https://www.payscale.com/cost-of-living-calculator/Idaho-Moscow
https://www.payscale.com/cost-of-living-calculator/New_Mexico-Albuquerque
https://www.payscale.com/cost-of-living-calculator/Washington-Tacoma
https://www.payscale.com/cost-of-living-calculator/Colorado-Colorado-Springs
https://www.payscale.com/cost-of-living-calculator/Oregon-Portland
https://www.payscale.com/cost-of-living-calculator/Washington-Walla-Walla
https://www.payscale.com/cost-of-living-calculator/New_Mexico-Las-Cruces
https://www.payscale.com/cost-of-living-calculator/Colorado-Fort-Collins
https://www.payscale.com/cost-of-living-calculator/Wyoming-Laramie
https://www.payscale.com/cost-of-living-calculator/Utah-Logan
https://www.payscale.com/cost-of-living-calculator/Oregon-Eugene
https://www.payscale.com/cost-of-living-calculator/Montana-Bozeman
https://www.payscale.com/cost-of-living-calculator/Washington-Spokane
https://www.payscale.com/cost-of-living-calculator/Hawaii-Honolulu
https://www.payscale.com/cost-of-living-calculator/Washington-Bellingham
https://www.payscale.com/cost-of-living-calculator/Colorado-Denver
https://www.payscale.com/cost-of-living-calculator/Idaho-Pocatello
https://www.payscale.com/cost-of-living-calculator/Alaska-Anchorage
https://www.payscale.com/cost-of-living-calculator/Oregon-Portland
https://www.payscale.com/cost-of-living-calculator/Montana-Missoula
https://www.payscale.com/cost-of-living-calculator/Nevada-Las-Vegas
https://www.payscale.com/cost-of-living-calculator/Oregon-Portland
https://www.payscale.com/cost-of-living-calculator/Washington-Cheney
https://www.payscale.com/cost-of-living-calculator/Colorado-Durango
https://www.payscale.com/cost-of-living-calculator/Idaho-Boise
https://www.payscale.com/cost-of-living-calculator/Utah-Orem
https://www.payscale.com/cost-of-living-calculator/Washington-Olympia
https://www.payscale.com/cost-of-living-calculator/Utah-Cedar-City
https://www.payscale.com/cost-of-living-calculator/Montana-Billings
https://www.payscale.com/cost-of-living-calculator/Indiana-Notre-Dame
https://www.payscale.com/cost-of-living-calculator/Illinois-Chicago
https://www.payscale.com/cost-of-living-calculator/Minnesota-Northfield
https://www.payscale.com/cost-of-living-calculator/Illinois-Chicago
https://www.payscale.com/cost-of-living-calculator/Ohio-Cleveland
https://www.payscale.com/cost-of-living-calculator/Illinois-Champaign
https://www.payscale.com/cost-of-living-calculator/Illinois-Evanston
https://www.payscale.com/cost-of-living-calculator/Missouri-Rolla
https://www.payscale.com/cost-of-living-calculator/South_Dakota-Rapid-City
https://www.payscale.com/cost-of-living-calculator/Michigan-Ann-Arbor
https://www.payscale.com/cost-of-living-calculator/Indiana-West-Lafayette
https://www.payscale.com/cost-of-living-calculator/Wisconsin-Milwaukee
https://www.payscale.com/cost-of-living-calculator/Indiana-Greencastle
https://www.payscale.com/cost-of-living-calculator/Wisconsin-Madison
https://www.payscale.com/cost-of-living-calculator/Illinois-Peoria
https://www.payscale.com/cost-of-living-calculator/Minnesota-Minneapolis
https://www.payscale.com/cost-of-living-calculator/Michigan-East-Lansing
https://www.payscale.com/cost-of-living-calculator/Illinois-Chicago
https://www.payscale.com/cost-of-living-calculator/Iowa-Ames
https://www.payscale.com/cost-of-living-calculator/Minnesota-Minnesota
https://www.payscale.com/cost-of-living-calculator/Indiana-Bloomington
https://www.payscale.com/cost-of-living-calculator/Iowa-Iowa-City
https://www.payscale.com/cost-of-living-calculator/Ohio-Columbus
https://www.payscale.com/cost-of-living-calculator/Ohio-Granville
https://www.payscale.com/cost-of-living-calculator/Illinois-Chicago
https://www.payscale.com/cost-of-living-calculator/Ohio-Oberlin
https://www.payscale.com/cost-of-living-calculator/Kansas-Lawrence
https://www.payscale.com/cost-of-living-calculator/Missouri-Columbia
https://www.payscale.com/cost-of-living-calculator/Nebraska-Lincoln
https://www.payscale.com/cost-of-living-calculator/Illinois-Dekalb
https://www.payscale.com/cost-of-living-calculator/Minnesota-Saint-Peter
https://www.payscale.com/cost-of-living-calculator/North_Dakota-Grand-Forks
https://www.payscale.com/cost-of-living-calculator/Kansas-Manhattan
https://www.payscale.com/cost-of-living-calculator/Wisconsin-Platteville
https://www.payscale.com/cost-of-living-calculator/Ohio-Springfield
https://www.payscale.com/cost-of-living-calculator/North_Dakota-Fargo
https://www.payscale.com/cost-of-living-calculator/Iowa-Grinnell
https://www.payscale.com/cost-of-living-calculator/Michigan-Detroit
https://www.payscale.com/cost-of-living-calculator/Ohio-Toledo
https://www.payscale.com/cost-of-living-calculator/Wisconsin-Whitewater
https://www.payscale.com/cost-of-living-calculator/Minnesota-Mankato
https://www.payscale.com/cost-of-living-calculator/Wisconsin-Milwaukee
https://www.payscale.com/cost-of-living-calculator/Michigan-Kalamazoo
https://www.payscale.com/cost-of-living-calculator/South_Dakota-Brookings
https://www.payscale.com/cost-of-living-calculator/Ohio-Athens-Township
https://www.payscale.com/cost-of-living-calculator/Illinois-Normal
https://www.payscale.com/cost-of-living-calculator/Ohio-Cleveland
https://www.payscale.com/cost-of-living-calculator/Nebraska-Omaha
https://www.payscale.com/cost-of-living-calculator/Illinois-Carbondale
https://www.payscale.com/cost-of-living-calculator/Michigan-Ypsilanti
https://www.payscale.com/cost-of-living-calculator/Ohio-Bowling-Green
https://www.payscale.com/cost-of-living-calculator/Minnesota-St.-Cloud
https://www.payscale.com/cost-of-living-calculator/Wisconsin-Parkside
https://www.payscale.com/cost-of-living-calculator/Ohio-Akron
https://www.payscale.com/cost-of-living-calculator/Missouri-Springfield
https://www.payscale.com/cost-of-living-calculator/Wisconsin-La-Crosse
https://www.payscale.com/cost-of-living-calculator/Wisconsin-Stout
https://www.payscale.com/cost-of-living-calculator/Pennsylvania-Moon
https://www.payscale.com/cost-of-living-calculator/Missouri-St.-Louis
https://www.payscale.com/cost-of-living-calculator/Wisconsin-Oshkosh
https://www.payscale.com/cost-of-living-calculator/Missouri-Kansas-City
https://www.payscale.com/cost-of-living-calculator/Wisconsin-Eau-Claire
https://www.payscale.com/cost-of-living-calculator/Indiana-Muncie
https://www.payscale.com/cost-of-living-calculator/Missouri-Parkville
https://www.payscale.com/cost-of-living-calculator/Wisconsin-Stevens-Point
https://www.payscale.com/cost-of-living-calculator/Ohio-Kent
https://www.payscale.com/cost-of-living-calculator/Wisconsin-Green-Bay
https://www.payscale.com/cost-of-living-calculator/Ohio-Mayfield-Heights
https://www.payscale.com/cost-of-living-calculator/Kansas-Pittsburg
https://www.payscale.com/cost-of-living-calculator/Michigan-Grand-Rapids
https://www.payscale.com/cost-of-living-calculator/South_Dakota-Spearfish
https://www.payscale.com/cost-of-living-calculator/Texas-Houston
https://www.payscale.com/cost-of-living-calculator/DC-Washington
https://www.payscale.com/cost-of-living-calculator/North_Carolina-Durham
https://www.payscale.com/cost-of-living-calculator/Georgia-Atlanta
https://www.payscale.com/cost-of-living-calculator/Virginia-Lexington
https://www.payscale.com/cost-of-living-calculator/Tennessee-Nashville
https://www.payscale.com/cost-of-living-calculator/North_Carolina-Davidson
https://www.payscale.com/cost-of-living-calculator/Virginia-Charlottesville
https://www.payscale.com/cost-of-living-calculator/DC-Washington
https://www.payscale.com/cost-of-living-calculator/Texas-College-Station
https://www.payscale.com/cost-of-living-calculator/Louisiana-New-Orleans
https://www.payscale.com/cost-of-living-calculator/Virginia-Blacksburg
https://www.payscale.com/cost-of-living-calculator/Maryland-College-Park
https://www.payscale.com/cost-of-living-calculator/Virginia-University-of-Richmond
https://www.payscale.com/cost-of-living-calculator/Texas-Austin
https://www.payscale.com/cost-of-living-calculator/Georgia-Atlanta
https://www.payscale.com/cost-of-living-calculator/DC-Washington
https://www.payscale.com/cost-of-living-calculator/Oklahoma-Tulsa
https://www.payscale.com/cost-of-living-calculator/Texas-Waco
https://www.payscale.com/cost-of-living-calculator/Florida-Gainesville
https://www.payscale.com/cost-of-living-calculator/Louisiana-Baton-Rouge
https://www.payscale.com/cost-of-living-calculator/Virginia-Fairfax
https://www.payscale.com/cost-of-living-calculator/South_Carolina-Clemson
https://www.payscale.com/cost-of-living-calculator/Georgia-Athens
https://www.payscale.com/cost-of-living-calculator/Alabama-Auburn
https://www.payscale.com/cost-of-living-calculator/Delaware-Newark
https://www.payscale.com/cost-of-living-calculator/Virginia-Ashland
https://www.payscale.com/cost-of-living-calculator/North_Carolina-Raleigh
https://www.payscale.com/cost-of-living-calculator/Oklahoma-Oklahoma-City
https://www.payscale.com/cost-of-living-calculator/Arkansas-Fayetteville
https://www.payscale.com/cost-of-living-calculator/Alabama-Huntsville
https://www.payscale.com/cost-of-living-calculator/DC-Washington
https://www.payscale.com/cost-of-living-calculator/North_Carolina-Chapel-Hill
https://www.payscale.com/cost-of-living-calculator/Alabama-Tuscaloosa
https://www.payscale.com/cost-of-living-calculator/Texas-Arlington
https://www.payscale.com/cost-of-living-calculator/Oklahoma-Oklahoma-City
https://www.payscale.com/cost-of-living-calculator/Tennessee-Cookeville
https://www.payscale.com/cost-of-living-calculator/Texas-Houston
https://www.payscale.com/cost-of-living-calculator/Mississippi-University
https://www.payscale.com/cost-of-living-calculator/Texas-Beaumont
https://www.payscale.com/cost-of-living-calculator/Mississippi-Mississippi-State
https://www.payscale.com/cost-of-living-calculator/Kentucky-Lexington
https://www.payscale.com/cost-of-living-calculator/Texas-Fort-Worth
https://www.payscale.com/cost-of-living-calculator/West_Virginia-Morgantown
https://www.payscale.com/cost-of-living-calculator/Maryland-Baltimore
https://www.payscale.com/cost-of-living-calculator/Louisiana-Lafayette
https://www.payscale.com/cost-of-living-calculator/Florida-Miami
https://www.payscale.com/cost-of-living-calculator/Tennessee-Knoxville
https://www.payscale.com/cost-of-living-calculator/Arkansas-Monticello
https://www.payscale.com/cost-of-living-calculator/North_Carolina-Charlotte
https://www.payscale.com/cost-of-living-calculator/Georgia-Atlanta
https://www.payscale.com/cost-of-living-calculator/Texas-Longview
https://www.payscale.com/cost-of-living-calculator/Florida-Tallahassee
https://www.payscale.com/cost-of-living-calculator/Texas-El-Paso
https://www.payscale.com/cost-of-living-calculator/Florida-Orlando
https://www.payscale.com/cost-of-living-calculator/South_Carolina-Columbia
https://www.payscale.com/cost-of-living-calculator/Florida-Boca-Raton
https://www.payscale.com/cost-of-living-calculator/Florida-Tampa
https://www.payscale.com/cost-of-living-calculator/Texas-San-Antonio
https://www.payscale.com/cost-of-living-calculator/Alabama-Birmingham
https://www.payscale.com/cost-of-living-calculator/Tennessee-Memphis
https://www.payscale.com/cost-of-living-calculator/North_Carolina-Boone
https://www.payscale.com/cost-of-living-calculator/Virginia-Richmond
https://www.payscale.com/cost-of-living-calculator/North_Carolina-Greenville
https://www.payscale.com/cost-of-living-calculator/North_Carolina-Cullowhee
https://www.payscale.com/cost-of-living-calculator/Florida-Jacksonville
https://www.payscale.com/cost-of-living-calculator/North_Carolina-Wilmington
https://www.payscale.com/cost-of-living-calculator/Oklahoma-Oklahoma-City
https://www.payscale.com/cost-of-living-calculator/Arkansas-Jonesboro
https://www.payscale.com/cost-of-living-calculator/Texas-Stephenville
https://www.payscale.com/cost-of-living-calculator/Kentucky-Morehead
https://www.payscale.com/cost-of-living-calculator/Mississippi-Clinton
https://www.payscale.com/cost-of-living-calculator/Texas-Dallas
https://www.payscale.com/cost-of-living-calculator/Tennessee-Clarksville
https://www.payscale.com/cost-of-living-calculator/Florida-Saint-Leo
https://www.payscale.com/cost-of-living-calculator/Tennessee-Tusculum
https://www.payscale.com/cost-of-living-calculator/Virginia-Virginia-Beach
https://www.payscale.com/cost-of-living-calculator/Tennessee-Cleveland
https://www.payscale.com/cost-of-living-calculator/Florida-Fort-Lauderdale
https://www.payscale.com/cost-of-living-calculator/New_Hampshire-Hanover
https://www.payscale.com/cost-of-living-calculator/New_Jersey-Princeton
https://www.payscale.com/cost-of-living-calculator/Massachusetts-Cambridge
https://www.payscale.com/cost-of-living-calculator/Connecticut-New-Haven
https://www.payscale.com/cost-of-living-calculator/Massachusetts-Cambridge
https://www.payscale.com/cost-of-living-calculator/Pennsylvania-Philadelphia
https://www.payscale.com/cost-of-living-calculator/New_York-Brooklyn
https://www.payscale.com/cost-of-living-calculator/New_York-New-York
https://www.payscale.com/cost-of-living-calculator/Massachusetts-Worcester
https://www.payscale.com/cost-of-living-calculator/Pennsylvania-Pittsburgh
https://www.payscale.com/cost-of-living-calculator/New_York-Troy
https://www.payscale.com/cost-of-living-calculator/New_York-Ithaca
https://www.payscale.com/cost-of-living-calculator/Pennsylvania-Lewisburg
https://www.payscale.com/cost-of-living-calculator/Rhode_Island-Providence
https://www.payscale.com/cost-of-living-calculator/New_York-Hamilton
https://www.payscale.com/cost-of-living-calculator/New_York-New-York
https://www.payscale.com/cost-of-living-calculator/Massachusetts-Amherst
https://www.payscale.com/cost-of-living-calculator/Pennsylvania-Easton
https://www.payscale.com/cost-of-living-calculator/Maine-Brunswick
https://www.payscale.com/cost-of-living-calculator/Massachusetts-Worcester
https://www.payscale.com/cost-of-living-calculator/New_Jersey-Hoboken
https://www.payscale.com/cost-of-living-calculator/Pennsylvania-Bethlehem
https://www.payscale.com/cost-of-living-calculator/Pennsylvania-Swarthmore
https://www.payscale.com/cost-of-living-calculator/Massachusetts-Chestnut-Hill
https://www.payscale.com/cost-of-living-calculator/Massachusetts-Williamstown
https://www.payscale.com/cost-of-living-calculator/Pennsylvania-Villanova
https://www.payscale.com/cost-of-living-calculator/New_York-Bronx
https://www.payscale.com/cost-of-living-calculator/Connecticut-Middletown
https://www.payscale.com/cost-of-living-calculator/Massachusetts-Boston
https://www.payscale.com/cost-of-living-calculator/Maine-Lewiston
https://www.payscale.com/cost-of-living-calculator/New_York-Vestal
https://www.payscale.com/cost-of-living-calculator/Kentucky-Barbourville
https://www.payscale.com/cost-of-living-calculator/New_York-New-York
https://www.payscale.com/cost-of-living-calculator/New_York-Poughkeepsie
https://www.payscale.com/cost-of-living-calculator/Vermont-Middlebury
https://www.payscale.com/cost-of-living-calculator/Massachusetts-South-Hadley
https://www.payscale.com/cost-of-living-calculator/Massachusetts-Boston
https://www.payscale.com/cost-of-living-calculator/Pennsylvania-Philadelphia
https://www.payscale.com/cost-of-living-calculator/New_York-New-York
https://www.payscale.com/cost-of-living-calculator/New_York-Brookville
https://www.payscale.com/cost-of-living-calculator/New_York-Stony-Brook
https://www.payscale.com/cost-of-living-calculator/Pennsylvania-Lancaster
https://www.payscale.com/cost-of-living-calculator/New_York-Hempstead
https://www.payscale.com/cost-of-living-calculator/New_York-Albany
https://www.payscale.com/cost-of-living-calculator/New_Jersey-New-Brunswick
https://www.payscale.com/cost-of-living-calculator/New_York-New-York
https://www.payscale.com/cost-of-living-calculator/New_York-New-York
https://www.payscale.com/cost-of-living-calculator/New_Jersey-South-Orange
https://www.payscale.com/cost-of-living-calculator/New_Jersey-Lawrenceville
https://www.payscale.com/cost-of-living-calculator/Connecticut-Storrs
https://www.payscale.com/cost-of-living-calculator/Rhode_Island-Providence
https://www.payscale.com/cost-of-living-calculator/Massachusetts-Amherst
https://www.payscale.com/cost-of-living-calculator/New_York-Ithaca
https://www.payscale.com/cost-of-living-calculator/Massachusetts-Lowell
https://www.payscale.com/cost-of-living-calculator/Massachusetts-Boston
https://www.payscale.com/cost-of-living-calculator/New_York-Syracuse
https://www.payscale.com/cost-of-living-calculator/Maine-Waterville
https://www.payscale.com/cost-of-living-calculator/Pennsylvania-Gettysburg
https://www.payscale.com/cost-of-living-calculator/Pennsylvania-Philadelphia
https://www.payscale.com/cost-of-living-calculator/Rhode_Island-Kingston
https://www.payscale.com/cost-of-living-calculator/New_York-Loudonville
https://www.payscale.com/cost-of-living-calculator/Pennsylvania-Philadelphia
https://www.payscale.com/cost-of-living-calculator/New_York-Rochester
https://www.payscale.com/cost-of-living-calculator/Pennsylvania-Pittsburgh

In [12]:
edit_df['url'] = pages
edit_df

,School Name,City,State,Region,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary,url
0,Stanford-University,Stanford,California,California,"$70,400.00-","$129,000.00-","$68,400.00-","$93,100.00-","$184,000.00-","$257,000.00-",https://www.payscale.com/cost-of-living-calcul...
1,California-Institute-of-Technology-(CIT),Pasadena,California,California,"$75,500.00-","$123,000.00-",NaN,"$104,000.00-","$161,000.00-",NaN,https://www.payscale.com/cost-of-living-calcul...
2,Harvey-Mudd-College,Claremont,California,California,"$71,800.00-","$122,000.00-",NaN,"$96,000.00-","$180,000.00-",NaN,https://www.payscale.com/cost-of-living-calcul...
3,"University-of-California,-Berkeley",Berkeley,California,California,"$59,900.00-","$112,000.00-","$59,500.00-","$81,000.00-","$149,000.00-","$201,000.00-",https://www.payscale.com/cost-of-living-calcul...
4,Occidental-College,Los-Angeles,California,California,"$51,900.00-","$105,000.00-",NaN,"$54,800.00-","$157,000.00-",NaN,https://www.payscale.com/cost-of-living-calcul...
5,Cal-Poly-San-Luis-Obispo,San-Lios-Obispo,California,California,"$57,200.00-","$101,000.00-","$55,000.00-","$74,700.00-","$133,000.00-","$178,000.00-",https://www.payscale.com/cost-of-living-calcul...
6,University-of-California-at-Los-Angeles-(UCLA),Los-Angeles,California,California,"$52,600.00-","$101,000.00-","$51,300.00-","$72,500.00-","$139,000.00-","$193,000.00-",https://www.payscale.com/cost-of-living-calcul...
7,"University-of-California,-San-Diego-(UCSD)",San-Diego,California,California,"$51,100.00-","$101,000.00-","$51,700.00-","$75,400.00-","$131,000.00-","$177,000.00-",https://www.payscale.com/cost-of-living-calcul...
8,Pomona-College,Claremont,California,California,"$48,600.00-","$101,000.00-",NaN,"$63,300.00-","$161,000.00-",NaN,https://www.payscale.com/cost-of-living-calcul...
9,University-of-Southern-California-(USC),Los-Angeles,California,California,"$54,800.00-","$99,600.00-","$49,700.00-","$73,800.00-","$140,000.00-","$201,000.00-",https://www.payscale.com/cost-of-living-calcul...
10,"University-of-California,-Davis",Davis,California,California,"$52,300.00-","$99,600.00-","$52,000.00-","$71,600.00-","$135,000.00-","$202,000.00-",https://www.payscale.com/cost-of-living-calcul...
11,"University-of-California,-Irvine-(UCI)",Irbine,California,California,"$48,300.00-","$96,700.00-","$47,800.00-","$66,000.00-","$123,000.00-","$172,000.00-",https://www.payscale.com/cost-of-living-calcul...
12,San-Jose-State-University-(SJSU),San-Jose,California,California,"$53,500.00-","$95,600.00-","$50,700.00-","$70,500.00-","$122,000.00-","$156,000.00-",https://www.payscale.com/cost-of-living-calcul...
13,"University-of-California,-Santa-Barbara-(UCSB)",Santa-Barbara,California,California,"$50,500.00-","$95,000.00-","$51,300.00-","$71,200.00-","$129,000.00-","$173,000.00-",https://www.payscale.com/cost-of-living-calcul...
14,"California-State-University-(CSU),-Chico",Chico,California,California,"$47,400.00-","$88,100.00-","$46,800.00-","$62,800.00-","$122,000.00-","$154,000.00-",https://www.payscale.com/cost-of-living-calcul...
15,"California-State-University,-Fullerton-(CSUF)",Fullerton,California,California,"$45,700.00-","$87,000.00-","$45,400.00-","$62,500.00-","$119,000.00-","$158,000.00-",https://www.payscale.com/cost-of-living-calcul...
16,San-Francisco-State-University-(SFSU),San-Francisco,California,California,"$47,300.00-","$86,400.00-","$45,100.00-","$62,700.00-","$114,000.00-","$150,000.00-",https://www.payscale.com/cost-of-living-calcul...
17,San-Diego-State-University-(SDSU),San-Diego,California,California,"$46,200.00-","$85,200.00-","$45,500.00-","$61,800.00-","$116,000.00-","$158,000.00-",https://www.payscale.com/cost-of-living-calcul...
18,"California-State-University,-Long-Beach-(CSULB)",Long-Beach,California,California,"$45,100.00-","$84,700.00-","$47,400.00-","$62,500.00-","$113,000.00-","$154,000.00-",https://www.payscale.com/cost-of-living-calcul...
19,"California-State-University,-East-Bay-(CSUEB)",East-Bay,California,California,"$49,200.00-","$84,300.00-","$46,000.00-","$62,400.00-","$115,000.00-","$155,000.00-",https://www.payscale.com/cost-of-living-calcul...
20,"University-of-California,-Santa-Cruz-(UCSC)",Santa-Cruz,California,California,"$44,700.00-","$84,100.00-","$46,100.00-","$62,000.00-","$121,000.00-","$165,000.00-",https://www.payscale.com/cost-of-living-calcul...
21,"California-State-University,-Sacramento-(CSUS)",Sacramento,California,California,"$47,800.00-","$82,400.00-","$42,900.00-","$59,600.00-","$111,000.00-","$154,000.00-",https://www.payscale.com/cost-of-living-calcul...
22,"University-of-California,-Riverside-(UCR)",Riverside,California,California,"$46,800.00-","$81,300.00-","$37,200.00-","$59,900.00-","$109,000.00-","$134,000.00-",https://www.payscale.com/cost-of-living-calcul...
23,"California-State-University,-Northridge-(CSUN)",Northridge,California,California,"$45,500.00-","$80,400.00-","$44,500.00-","$57,800.00-","$108,000.00-","$153,000.00-",https://www.payscale.com/cost-of-living-calcul...
24,"California-State-University,-Dominguez-Hills-(...",Dominguez-Hills,California,California,"$42,700.00-","$72,100.00-","$30,800.00-","$47,000.00-","$92,200.00-","$132,000.00-",https://www.payscale.com/cost-of-living-calcul...
25,"California-State-University-(CSU),-Stanislaus",Stanislaus,California,California,"$38,000.00-","$71,400.00-",NaN,"$50,500.00-","$94,100.00-",NaN,https://www.payscale.com/cost-of-living-calcul...
26,Humboldt-State-University,Arcata,California,California,"$42,600.00-","$71,300.00-","$36,000.00-","$56,300.00-","$94,400.00-","$117,000.00-",https://www.payscale.com/cost-of-living-calcul...
27,Thomas-Aquinas-College,Santa-Paula,California,California,"$41,500.00-","$67,500.00-",NaN,"$44,600.00-","$93,100.00-",NaN,https://www.payscale.com/cost-of-living-calcul...
28,Colorado-School-of-Mines,Golden,Colorado,Western,"$58,100.00-","$106,000.00-","$62,200.00-","$87,900.00-","$142,000.00-","$201,000.00-",https://www.payscale.com/cost-of-living-calcul...
29,University-of-Colorado---Boulder-(UCB),Boulder,Colorado,Western,"$47,100.00-","$97,600.00-","$51,600.00-","$69,000.00-","$128,000.00-","$187,000.00-",https://www.payscale.com/cost-of-living-calcul...
...,...,...,...,...,...,...,...,...,...,...,...
290,Dowling-College,New-York,New_York,Northeastern,"$41,100.00-","$82,800.00-","$46,500.00-","$60,600.00-","$117,000.00-","$142,000.00-",https://www.payscale.com/cost-of-living-calcul...
291,University-of-Vermont-(UVM),Burlington,Vermont,Northeastern,"$44,800.00-","$82,700.00-","$44,700.00-","$58,000.00-","$122,000.00-","$194,000.00-",https://www.payscale.com/cost-of-living-calcul...
292,State-University-of-New-York-(SUNY)-at-Buffalo,Buffalo,New_York,Northeastern,"$46,200.00-","$81,700.00-","$45,900.00-","$61,400.00-","$110,000.00-","$147,000.00-",https://www.payscale.com/cost-of-living-calcul...
293,State-University-of-New-York-(SUNY)-at-Geneseo,Geneseo,New_York,Northeastern,"$42,300.00-","$81,300.00-","$39,300.00-","$47,600.00-","$117,000.00-","$173,000.00-",https://www.payscale.com/cost-of-living-calcul...
294,Fashion-Institute-of-Technology,New-York,New_York,Northeastern,"$42,800.00-","$81,000.00-","$38,800.00-","$60,500.00-","$106,000.00-","$138,000.00-",https://www.payscale.com/cost-of-living-calcul...
295,Philadelphia-University,Philadelphia,Pennsylvania,Northeastern,"$45,100.00-","$80,300.00-","$45,800.00-","$61,900.00-","$108,000.00-","$141,000.00-",https://www.payscale.com/cost-of-living-calcul...
296,Ursinus-College,Collegeville,Pennsylvania,Northeastern,"$42,100.00-","$80,000.00-","$35,600.00-","$54,300.00-","$100,000.00-","$160,000.00-",https://www.payscale.com/cost-of-living-calcul...
297,Adelphi-University,Garden-City,New_York,Northeastern,"$40,600.00-","$79,200.00-","$44,200.00-","$54,800.00-","$114,000.00-","$160,000.00-",https://www.payscale.com/cost-of-living-calcul...
298,Juniata-College,Huntingdon,Pennsylvania,Northeastern,"$41,800.00-","$78,900.00-",NaN,"$67,200.00-","$110,000.00-",NaN,https://www.payscale.com/cost-of-living-calcul...
299,Fairleigh-Dickinson-University,Teaneck,New_Jersey,Northeastern,"$45,700.00-","$78,700.00-","$40,200.00-","$56,300.00-","$112,000.00-","$171,000.00-",https://www.payscale.com/cost-of-living-calcul...
300,University-of-New-Hampshire-(UNH),Durham,New_Hampshire,Northeastern,"$41,800.00-","$78,300.00-","$41,700.00-","$56,400.00-","$114,000.00-","$147,000.00-",https://www.payscale.com/cost-of-living-calcul...
301,University-of-Massachusetts-(UMass)---Boston,Boston,Massachusetts,Northeastern,"$45,600.00-","$78,200.00-","$36,300.00-","$53,800.00-","$109,000.00-","$151,000.00-",https://www.payscale.com/cost-of-living-calcul...
302,State-University-of-New-York-(SUNY)-at-Oswego,Oswego,New_York,Northeastern,"$38,000.00-","$77,800.00-","$40,400.00-","$53,000.00-","$115,000.00-","$169,000.00-",https://www.payscale.com/cost-of-living-calcul...
303,University-of-Massachusetts-(UMass)---Dartmouth,Dartmouth,Massachusetts,Northeastern,"$43,200.00-","$77,700.00-","$43,300.00-","$56,200.00-","$107,000.00-","$132,000.00-",https://www.payscale.com/cost-of-living-calcul...
304,State-University-of-New-York-(SUNY)-at-Oneonta,Oneonta,New_York,Northeastern,"$37,500.00-","$76,700.00-","$40,000.00-","$54,300.00-","$97,700.00-","$155,000.00-",https://www.payscale.com/cost-of-living-calcul...
305,Quinnipiac-University,Hamden,Connecticut,Northeastern,"$43,000.00-","$76,500.00-","$47,900.00-","$57,400.00-","$117,000.00-","$155,000.00-",https://www.payscale.com/cost-of-living-calcul...
306,State-University-of-New-York-(SUNY)-at-Plattsb...,Plattsburgh,New_York,Northeastern,"$40,800.00-","$76,200.00-","$38,400.00-","$54,100.00-","$105,000.00-","$136,000.00-",https://www.payscale.com/cost-of-living-calcul...
307,Sacred-Heart-University,Fairfield,Connecticut,Northeastern,"$46,000.00-","$75,300.00-","$39,700.00-","$54,800.00-","$105,000.00-","$150,000.00-",https://www.payscale.com/cost-of-living-calcul...
308,Skidmore-College,Saratoga-Springs,New_York,Northeastern,"$41,600.00-","$74,600.00-",NaN,"$42,800.00-","$147,000.00-",NaN,https://www.payscale.com/cost-of-living-calcul...
309,Moravian-College,Bethlehem,Pennsylvania,Northeastern,"$42,500.00-","$74,400.00-",NaN,"$56,700.00-","$94,900.00-",NaN,https://www.payscale.com/cost-of-living-calcul...
310,Penn-State---Harrisburg,Harrisburg,Pennsylvania,Northeastern,"$45,700.00-","$74,000.00-","$44,000.00-","$53,100.00-","$104,000.00-","$150,000.00-",https://www.payscale.com/cost-of-living-calcul...
311,Suffolk-University,Boston,Massachusetts,Northeastern,"$42,100.00-","$74,000.00-","$48,700.00-","$57,800.00-","$95,100.00-","$145,000.00-",https://www.payscale.com/cost-of-living-calcul...
312,Fitchburg-State-College,Fitchburg,Massachusetts,Northeastern,"$42,400.00-","$72,600.00-","$43,300.00-","$56,100.00-","$99,600.00-","$151,000.00-",https://www.payscale.com/cost-of-living-calcul...
313,Roger-Williams-University,Bristol,Rhode_Island,Northeastern,"$42,000.00-","$72,300.00-","$39,800.00-","$48,500.00-","$102,000.00-","$138,000.00-",https://www.payscale.com/cost-of-living-calcul...
314,University-Of-Maine,Orono,Maine,Northeastern,"$41,200.00-","$72,100.00-","$41,700.00-","$55,600.00-","$99,300.00-","$141,000.00-",https://www.payscale.com/cost-of-living-calcul...
315,State-University-of-New-York-(SUNY)-at-Potsdam,Potsdam,New_York,Northeastern,"$38,000.00-","$70,300.00-","$35,100.00-","$51,200.00-","$100,000.00-","$179,000.00-",https://www.payscale.com/cost-of-living-calcul...
316,Niagara-University,Niagara-University,New_York,Northeastern,"$36,900.00-","$69,700.00-","$44,000.00-","$57,000.00-","$92,000.00-","$128,000.00-",https://www.payscale.com/cost-of-living-calcul...
317,State-University-of-New-York-(SUNY)-at-Fredonia,Fredonia,New_York,Northeastern,"$37,800.00-","$66,200.00-","$32,800.00-","$44,200.00-","$93,300.00-","$181,000.00-",https://www.payscale.com/cost-of-living-calcul...
318,University-of-Southern-Maine,Portland,Maine,Northeastern,"$39,400.00-","$63,600.00-","$40,400.00-","$47,900.00-","$85,700.00-","$117,000.00-",https://www.payscale.com/cost-of-living-calcul...
319,Mercy-College,Dobbs-Ferry,New_York,Northeastern,"$43,700.00-","$62,600.00-","$35,600.00-","$47,300.00-","$99,000.00-","$134,000.00-",https://www.payscale.com/cost-of-living-calcul...

In [13]:
pages_df = pd.DataFrame(pages)

pages_df.to_csv('city_state_list.csv')

In [14]:
region_data = "salaries-by-region.csv"
region_df = pd.read_csv(region_data, encoding="ISO-8859-1")
region_df.head()

,School Name,City,State,Region,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Stanford University,Stanford,CA,California,"$70,400.00","$129,000.00","$68,400.00","$93,100.00","$184,000.00","$257,000.00"
1,California Institute of Technology (CIT),Pasadena,CA,California,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,Claremont,CA,California,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"University of California, Berkeley",Berkeley,CA,California,"$59,900.00","$112,000.00","$59,500.00","$81,000.00","$149,000.00","$201,000.00"
4,Occidental College,Los Angeles,CA,California,"$51,900.00","$105,000.00",NaN,"$54,800.00","$157,000.00",NaN

In [15]:
test_df = region_df['School Name']
test_df.head()

0                         Stanford University
1    California Institute of Technology (CIT)
2                         Harvey Mudd College
3          University of California, Berkeley
4                          Occidental College
Name: School Name, dtype: object

In [16]:
scrape_data = "webscrape-multiplewebsites.csv"
scrape_df = pd.read_csv(scrape_data, encoding="ISO-8859-1")
scrape_df

,web-scraper-order,web-scraper-start-url,home,rent,energy,phone,gas,bread,milk,eggs,bananas,hamburger,doctor,dentist,optometrist,drug,veterinary
0,1570330668-130,https://www.payscale.com/cost-of-living-calcul...,"$247,758",$776.12 / month,$154.08 / month,$164.24 / month,$2.18 / gallon,$3.02,$1.76,$1.64,$3.05,$3.85,$100.41,$86.26,$94.09,$399.99,$46.79
1,1570330638-116,https://www.payscale.com/cost-of-living-calcul...,"$259,903",$814.16 / month,$183.42 / month,$195.52 / month,$2.50 / gallon,$3.26,$1.90,$1.77,$3.29,$4.16,$96.54,$82.94,$90.46,$384.55,$48.02
2,1570330590-94,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1570330925-251,https://www.payscale.com/cost-of-living-calcul...,"$463,245","$1,451 / month",$156.76 / month,$167.10 / month,$2.75 / gallon,$3.26,$1.90,$1.77,$3.29,$4.15,$116.58,$100.15,$109.24,$464.37,$55.28
4,1570330988-281,https://www.payscale.com/cost-of-living-calcul...,"$987,211","$3,093 / month",$180.74 / month,$192.66 / month,$3.42 / gallon,$3.73,$2.17,$2.03,$3.77,$4.75,$121.67,$104.53,$114.01,$484.66,$54.97
5,1570330757-172,https://www.payscale.com/cost-of-living-calcul...,"$343,877","$1,077 / month",$162.63 / month,$173.36 / month,$2.85 / gallon,$3.38,$1.97,$1.84,$3.41,$4.30,$93.11,$79.99,$87.25,$370.88,$43.29
6,1570330768-177,https://www.payscale.com/cost-of-living-calcul...,"$285,928",$895.69 / month,$161.29 / month,$171.93 / month,$2.68 / gallon,$3.25,$1.89,$1.77,$3.28,$4.14,$112.04,$96.25,$104.98,$446.29,$49.46
7,1570330921-249,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1570330406-7,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1570330963-269,https://www.payscale.com/cost-of-living-calcul...,"$1,146,835","$3,593 / month",$182.92 / month,$194.98 / month,$3.51 / gallon,$4.28,$2.49,$2.33,$4.32,$5.45,$132.96,$114.23,$124.59,$529.64,$62.84
10,1570330719-154,https://www.payscale.com/cost-of-living-calcul...,"$859,866","$2,694 / month",$162.13 / month,$172.82 / month,$2.73 / gallon,$3.66,$2.13,$1.99,$3.70,$4.66,$106.84,$91.78,$100.11,$425.57,$50.44
11,1570330965-270,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1570330914-246,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1570330493-48,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1570330689-140,https://www.payscale.com/cost-of-living-calcul...,"$282,805",$885.91 / month,$177.55 / month,$189.26 / month,$2.53 / gallon,$2.75,$1.60,$1.50,$2.78,$3.51,$102.63,$88.17,$96.17,$408.81,$49.00
15,1570330474-39,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1570330919-248,https://www.payscale.com/cost-of-living-calcul...,"$320,281","$1,003 / month",$130.77 / month,$139.40 / month,$2.80 / gallon,$3.25,$1.89,$1.76,$3.28,$4.13,$102.63,$88.17,$96.17,$408.81,$49.26
17,1570330466-35,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1570330424-15,https://www.payscale.com/cost-of-living-calcul...,"$321,322","$1,007 / month",$199.68 / month,$212.86 / month,$2.76 / gallon,$3.29,$1.92,$1.79,$3.32,$4.19,$97.76,$83.98,$91.60,$389.40,$50.90
19,1570330991-282,https://www.payscale.com/cost-of-living-calcul...,"$2,140,883","$6,706 / month",$181.74 / month,$193.73 / month,$3.16 / gallon,$4.92,$2.87,$2.67,$4.96,$6.26,$150.01,$128.87,$140.57,$597.56,$65.26
20,1570330567-83,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1570330489-46,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1570330451-28,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1570330910-244,https://www.payscale.com/cost-of-living-calcul...,"$337,631","$1,058 / month",$190.63 / month,$203.20 / month,$2.54 / gallon,$3.66,$2.13,$1.99,$3.70,$4.66,$134.84,$115.84,$126.36,$537.14,$59.65
24,1570330917-247,https://www.payscale.com/cost-of-living-calcul...,"$370,596","$1,161 / month",$141.84 / month,$151.20 / month,$2.95 / gallon,$3.33,$1.94,$1.81,$3.36,$4.24,$122.00,$104.81,$114.32,$485.98,$58.21
25,1570330514-58,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1570330449-27,https://www.payscale.com/cost-of-living-calcul...,"$828,384","$2,595 / month",$208.74 / month,$222.51 / month,$3.00 / gallon,$3.87,$2.25,$2.10,$3.90,$4.93,$117.02,$100.53,$109.65,$466.14,$55.18
27,1570330889-234,https://www.payscale.com/cost-of-living-calcul...,"$320,281","$1,003 / month",$126.75 / month,$135.11 / month,$2.93 / gallon,$3.23,$1.88,$1.75,$3.26,$4.11,$125.66,$107.95,$117.74,$500.54,$50.23
28,1570330785-185,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1570330904-241,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,1570330588-93,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,1570330929-253,https://www.payscale.com/cost-of-living-calcul...,"$673,874","$2,111 / month",$206.39 / month,$220.00 / month,$3.47 / gallon,$4.22,$2.46,$2.29,$4.26,$5.37,$137.50,$118.13,$128.85,$547.72,$69.64
248,1570330984-279,https://www.payscale.com/cost-of-living-calcul...,"$1,128,030","$3,534 / month",$190.46 / month,$203.03 / month,$3.40 / gallon,$4.18,$2.43,$2.27,$4.22,$5.32,$136.28,$117.08,$127.70,$542.87,$62.69
249,1570330623-109,https://www.payscale.com/cost-of-living-calcul...,"$271,701",$851.12 / month,$155.25 / month,$165.49 / month,$2.66 / gallon,$3.47,$2.02,$1.88,$3.50,$4.41,$107.17,$92.07,$100.42,$426.89,$45.04
250,1570330586-92,https://www.payscale.com/cost-of-living-calcul...,"$399,656","$1,252 / month",$175.04 / month,$186.58 / month,$2.26 / gallon,$2.95,$1.72,$1.60,$2.97,$3.75,$98.53,$84.65,$92.33,$392.49,$48.90
251,1570330967-271,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,1570330426-16,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,1570330593-95,https://www.payscale.com/cost-of-living-calcul...,"$257,821",$807.64 / month,$146.03 / month,$155.67 / month,$2.26 / gallon,$3.02,$1.76,$1.64,$3.04,$3.84,$90.45,$77.70,$84.76,$360.30,$45.91
254,1570330495-49,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,1570330706-148,https://www.payscale.com/cost-of-living-calcul...,"$376,495","$1,179 / month",$159.11 / month,$169.61 / month,$2.24 / gallon,$3.52,$2.05,$1.91,$3.55,$4.49,$122.33,$105.10,$114.63,$487.31,$59.86
256,1570330576-87,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,1570330727-158,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,1570330497-50,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,1570330791-188,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,1570330625-110,https://www.payscale.com/cost-of-living-calcul...,"$315,423",$988.08 / month,$144.36 / month,$153.88 / month,$2.43 / gallon,$3.66,$2.13,$1.99,$3.69,$4.66,$109.05,$93.68,$102.18,$434.39,$51.06
261,1570330793-189,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,1570330419-13,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,1570330518-60,https://www.payscale.com/cost-of-living-calcul...,"$616,230","$1,930 / month",$161.62 / month,$172.29 / month,$2.94 / gallon,$3.35,$1.95,$1.82,$3.38,$4.27,$125.77,$108.04,$117.85,$500.98,$60.58
264,1570330874-227,https://www.payscale.com/cost-of-living-calcul...,"$336,194","$1,053 / month",$126.75 / month,$135.11 / month,$2.93 / gallon,$3.23,$1.88,$1.75,$3.26,$4.11,$125.66,$107.95,$117.74,$500.54,$50.23
265,1570330460-32,https://www.payscale.com/cost-of-living-calcul...,"$244,957",$767.34 / month,$208.74 / month,$222.51 / month,$3.00 / gallon,$3.87,$2.25,$2.10,$3.90,$4.93,$117.02,$100.53,$109.65,$466.14,$55.18
266,1570330618-107,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,1570330948-262,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,1570330806-195,https://www.payscale.com/cost-of-living-calcul...,"$286,622",$897.86 / month,$120.21 / month,$128.14 / month,$2.66 / gallon,$3.20,$1.87,$1.74,$3.23,$4.08,$113.37,$97.39,$106.23,$451.58,$53.22
269,1570330650-122,https://www.payscale.com/cost-of-living-calcul...,"$311,953",$977.21 / month,$216.11 / month,$230.37 / month,$2.47 / gallon,$2.99,$1.74,$1.63,$3.02,$3.81,$100.75,$86.55,$94.40,$401.31,$50.23
270,1570330653-123,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,1570330680-136,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,1570330655-124,https://www.payscale.com/cost-of-living-calcul...,"$237,695",$744.60 / month,$166.99 / month,$178.01 / month,$2.26 / gallon,$2.85,$1.66,$1.55,$2.88,$3.63,$99.20,$85.22,$92.95,$395.14,$51.83
273,1570330443-24,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,1570330697-144,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,1570330955-265,https://www.payscale.com/cost-of-living-calcul...,"$474,696","$1,487 / month",$149.72 / month,$159.60 / month,$3.20 / gallon,$3.89,$2.26,$2.11,$3.92,$4.95,$114.81,$98.63,$107.58,$457.32,$56.15

In [17]:
thing = ['https://www.payscale.com/cost-of-living-calculator/California-Pasadena',
'https://www.payscale.com/cost-of-living-calculator/California-Claremont',
'https://www.payscale.com/cost-of-living-calculator/California-Berkeley']

In [18]:
scrape_df["test"] = ["Cali" if ele == 'California' else "Short" for ele in scrape_df["web-scraper-start-url"]]
scrape_df

,web-scraper-order,web-scraper-start-url,home,rent,energy,phone,gas,bread,milk,eggs,bananas,hamburger,doctor,dentist,optometrist,drug,veterinary,test
0,1570330668-130,https://www.payscale.com/cost-of-living-calcul...,"$247,758",$776.12 / month,$154.08 / month,$164.24 / month,$2.18 / gallon,$3.02,$1.76,$1.64,$3.05,$3.85,$100.41,$86.26,$94.09,$399.99,$46.79,Short
1,1570330638-116,https://www.payscale.com/cost-of-living-calcul...,"$259,903",$814.16 / month,$183.42 / month,$195.52 / month,$2.50 / gallon,$3.26,$1.90,$1.77,$3.29,$4.16,$96.54,$82.94,$90.46,$384.55,$48.02,Short
2,1570330590-94,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
3,1570330925-251,https://www.payscale.com/cost-of-living-calcul...,"$463,245","$1,451 / month",$156.76 / month,$167.10 / month,$2.75 / gallon,$3.26,$1.90,$1.77,$3.29,$4.15,$116.58,$100.15,$109.24,$464.37,$55.28,Short
4,1570330988-281,https://www.payscale.com/cost-of-living-calcul...,"$987,211","$3,093 / month",$180.74 / month,$192.66 / month,$3.42 / gallon,$3.73,$2.17,$2.03,$3.77,$4.75,$121.67,$104.53,$114.01,$484.66,$54.97,Short
5,1570330757-172,https://www.payscale.com/cost-of-living-calcul...,"$343,877","$1,077 / month",$162.63 / month,$173.36 / month,$2.85 / gallon,$3.38,$1.97,$1.84,$3.41,$4.30,$93.11,$79.99,$87.25,$370.88,$43.29,Short
6,1570330768-177,https://www.payscale.com/cost-of-living-calcul...,"$285,928",$895.69 / month,$161.29 / month,$171.93 / month,$2.68 / gallon,$3.25,$1.89,$1.77,$3.28,$4.14,$112.04,$96.25,$104.98,$446.29,$49.46,Short
7,1570330921-249,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
8,1570330406-7,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
9,1570330963-269,https://www.payscale.com/cost-of-living-calcul...,"$1,146,835","$3,593 / month",$182.92 / month,$194.98 / month,$3.51 / gallon,$4.28,$2.49,$2.33,$4.32,$5.45,$132.96,$114.23,$124.59,$529.64,$62.84,Short
10,1570330719-154,https://www.payscale.com/cost-of-living-calcul...,"$859,866","$2,694 / month",$162.13 / month,$172.82 / month,$2.73 / gallon,$3.66,$2.13,$1.99,$3.70,$4.66,$106.84,$91.78,$100.11,$425.57,$50.44,Short
11,1570330965-270,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
12,1570330914-246,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
13,1570330493-48,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
14,1570330689-140,https://www.payscale.com/cost-of-living-calcul...,"$282,805",$885.91 / month,$177.55 / month,$189.26 / month,$2.53 / gallon,$2.75,$1.60,$1.50,$2.78,$3.51,$102.63,$88.17,$96.17,$408.81,$49.00,Short
15,1570330474-39,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
16,1570330919-248,https://www.payscale.com/cost-of-living-calcul...,"$320,281","$1,003 / month",$130.77 / month,$139.40 / month,$2.80 / gallon,$3.25,$1.89,$1.76,$3.28,$4.13,$102.63,$88.17,$96.17,$408.81,$49.26,Short
17,1570330466-35,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
18,1570330424-15,https://www.payscale.com/cost-of-living-calcul...,"$321,322","$1,007 / month",$199.68 / month,$212.86 / month,$2.76 / gallon,$3.29,$1.92,$1.79,$3.32,$4.19,$97.76,$83.98,$91.60,$389.40,$50.90,Short
19,1570330991-282,https://www.payscale.com/cost-of-living-calcul...,"$2,140,883","$6,706 / month",$181.74 / month,$193.73 / month,$3.16 / gallon,$4.92,$2.87,$2.67,$4.96,$6.26,$150.01,$128.87,$140.57,$597.56,$65.26,Short
20,1570330567-83,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
21,1570330489-46,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
22,1570330451-28,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
23,1570330910-244,https://www.payscale.com/cost-of-living-calcul...,"$337,631","$1,058 / month",$190.63 / month,$203.20 / month,$2.54 / gallon,$3.66,$2.13,$1.99,$3.70,$4.66,$134.84,$115.84,$126.36,$537.14,$59.65,Short
24,1570330917-247,https://www.payscale.com/cost-of-living-calcul...,"$370,596","$1,161 / month",$141.84 / month,$151.20 / month,$2.95 / gallon,$3.33,$1.94,$1.81,$3.36,$4.24,$122.00,$104.81,$114.32,$485.98,$58.21,Short
25,1570330514-58,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
26,1570330449-27,https://www.payscale.com/cost-of-living-calcul...,"$828,384","$2,595 / month",$208.74 / month,$222.51 / month,$3.00 / gallon,$3.87,$2.25,$2.10,$3.90,$4.93,$117.02,$100.53,$109.65,$466.14,$55.18,Short
27,1570330889-234,https://www.payscale.com/cost-of-living-calcul...,"$320,281","$1,003 / month",$126.75 / month,$135.11 / month,$2.93 / gallon,$3.23,$1.88,$1.75,$3.26,$4.11,$125.66,$107.95,$117.74,$500.54,$50.23,Short
28,1570330785-185,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
29,1570330904-241,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,1570330588-93,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
247,1570330929-253,https://www.payscale.com/cost-of-living-calcul...,"$673,874","$2,111 / month",$206.39 / month,$220.00 / month,$3.47 / gallon,$4.22,$2.46,$2.29,$4.26,$5.37,$137.50,$118.13,$128.85,$547.72,$69.64,Short
248,1570330984-279,https://www.payscale.com/cost-of-living-calcul...,"$1,128,030","$3,534 / month",$190.46 / month,$203.03 / month,$3.40 / gallon,$4.18,$2.43,$2.27,$4.22,$5.32,$136.28,$117.08,$127.70,$542.87,$62.69,Short
249,1570330623-109,https://www.payscale.com/cost-of-living-calcul...,"$271,701",$851.12 / month,$155.25 / month,$165.49 / month,$2.66 / gallon,$3.47,$2.02,$1.88,$3.50,$4.41,$107.17,$92.07,$100.42,$426.89,$45.04,Short
250,1570330586-92,https://www.payscale.com/cost-of-living-calcul...,"$399,656","$1,252 / month",$175.04 / month,$186.58 / month,$2.26 / gallon,$2.95,$1.72,$1.60,$2.97,$3.75,$98.53,$84.65,$92.33,$392.49,$48.90,Short
251,1570330967-271,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
252,1570330426-16,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
253,1570330593-95,https://www.payscale.com/cost-of-living-calcul...,"$257,821",$807.64 / month,$146.03 / month,$155.67 / month,$2.26 / gallon,$3.02,$1.76,$1.64,$3.04,$3.84,$90.45,$77.70,$84.76,$360.30,$45.91,Short
254,1570330495-49,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
255,1570330706-148,https://www.payscale.com/cost-of-living-calcul...,"$376,495","$1,179 / month",$159.11 / month,$169.61 / month,$2.24 / gallon,$3.52,$2.05,$1.91,$3.55,$4.49,$122.33,$105.10,$114.63,$487.31,$59.86,Short
256,1570330576-87,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
257,1570330727-158,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
258,1570330497-50,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
259,1570330791-188,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
260,1570330625-110,https://www.payscale.com/cost-of-living-calcul...,"$315,423",$988.08 / month,$144.36 / month,$153.88 / month,$2.43 / gallon,$3.66,$2.13,$1.99,$3.69,$4.66,$109.05,$93.68,$102.18,$434.39,$51.06,Short
261,1570330793-189,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
262,1570330419-13,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
263,1570330518-60,https://www.payscale.com/cost-of-living-calcul...,"$616,230","$1,930 / month",$161.62 / month,$172.29 / month,$2.94 / gallon,$3.35,$1.95,$1.82,$3.38,$4.27,$125.77,$108.04,$117.85,$500.98,$60.58,Short
264,1570330874-227,https://www.payscale.com/cost-of-living-calcul...,"$336,194","$1,053 / month",$126.75 / month,$135.11 / month,$2.93 / gallon,$3.23,$1.88,$1.75,$3.26,$4.11,$125.66,$107.95,$117.74,$500.54,$50.23,Short
265,1570330460-32,https://www.payscale.com/cost-of-living-calcul...,"$244,957",$767.34 / month,$208.74 / month,$222.51 / month,$3.00 / gallon,$3.87,$2.25,$2.10,$3.90,$4.93,$117.02,$100.53,$109.65,$466.14,$55.18,Short
266,1570330618-107,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
267,1570330948-262,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
268,1570330806-195,https://www.payscale.com/cost-of-living-calcul...,"$286,622",$897.86 / month,$120.21 / month,$128.14 / month,$2.66 / gallon,$3.20,$1.87,$1.74,$3.23,$4.08,$113.37,$97.39,$106.23,$451.58,$53.22,Short
269,1570330650-122,https://www.payscale.com/cost-of-living-calcul...,"$311,953",$977.21 / month,$216.11 / month,$230.37 / month,$2.47 / gallon,$2.99,$1.74,$1.63,$3.02,$3.81,$100.75,$86.55,$94.40,$401.31,$50.23,Short
270,1570330653-123,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
271,1570330680-136,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
272,1570330655-124,https://www.payscale.com/cost-of-living-calcul...,"$237,695",$744.60 / month,$166.99 / month,$178.01 / month,$2.26 / gallon,$2.85,$1.66,$1.55,$2.88,$3.63,$99.20,$85.22,$92.95,$395.14,$51.83,Short
273,1570330443-24,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
274,1570330697-144,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
275,1570330955-265,https://www.payscale.com/cost-of-living-calcul...,"$474,696","$1,487 / month",$149.72 / month,$159.60 / month,$3.20 / gallon,$3.89,$2.26,$2.11,$3.92,$4.95,$114.81,$98.63,$107.58,$457.32,$56.15,Short

In [19]:
split_url = scrape_df['web-scraper-start-url'].str.split("-", n=4, expand=True)
split_2 = split_url[3].str.split('calculator/', n=1, expand=True)
split_url['State'] = split_2[1]

In [20]:
split_url
scrape_df['City'] = split_url[4]
scrape_df['State'] = split_url['State']
scrape_df

,web-scraper-order,web-scraper-start-url,home,rent,energy,phone,gas,bread,milk,eggs,bananas,hamburger,doctor,dentist,optometrist,drug,veterinary,test,City,State
0,1570330668-130,https://www.payscale.com/cost-of-living-calcul...,"$247,758",$776.12 / month,$154.08 / month,$164.24 / month,$2.18 / gallon,$3.02,$1.76,$1.64,$3.05,$3.85,$100.41,$86.26,$94.09,$399.99,$46.79,Short,Oklahoma-City,Oklahoma
1,1570330638-116,https://www.payscale.com/cost-of-living-calcul...,"$259,903",$814.16 / month,$183.42 / month,$195.52 / month,$2.50 / gallon,$3.26,$1.90,$1.77,$3.29,$4.16,$96.54,$82.94,$90.46,$384.55,$48.02,Short,Lafayette,Louisiana
2,1570330590-94,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Stephenville,Texas
3,1570330925-251,https://www.payscale.com/cost-of-living-calcul...,"$463,245","$1,451 / month",$156.76 / month,$167.10 / month,$2.75 / gallon,$3.26,$1.90,$1.77,$3.29,$4.15,$116.58,$100.15,$109.24,$464.37,$55.28,Short,Denver,Colorado
4,1570330988-281,https://www.payscale.com/cost-of-living-calcul...,"$987,211","$3,093 / month",$180.74 / month,$192.66 / month,$3.42 / gallon,$3.73,$2.17,$2.03,$3.77,$4.75,$121.67,$104.53,$114.01,$484.66,$54.97,Short,Pasadena,California
5,1570330757-172,https://www.payscale.com/cost-of-living-calcul...,"$343,877","$1,077 / month",$162.63 / month,$173.36 / month,$2.85 / gallon,$3.38,$1.97,$1.84,$3.41,$4.30,$93.11,$79.99,$87.25,$370.88,$43.29,Short,Akron,Ohio
6,1570330768-177,https://www.payscale.com/cost-of-living-calcul...,"$285,928",$895.69 / month,$161.29 / month,$171.93 / month,$2.68 / gallon,$3.25,$1.89,$1.77,$3.28,$4.14,$112.04,$96.25,$104.98,$446.29,$49.46,Short,Carbondale,Illinois
7,1570330921-249,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Corvallis,Oregon
8,1570330406-7,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Dobbs-Ferry,New_York
9,1570330963-269,https://www.payscale.com/cost-of-living-calcul...,"$1,146,835","$3,593 / month",$182.92 / month,$194.98 / month,$3.51 / gallon,$4.28,$2.49,$2.33,$4.32,$5.45,$132.96,$114.23,$124.59,$529.64,$62.84,Short,San-Francisco,California
10,1570330719-154,https://www.payscale.com/cost-of-living-calcul...,"$859,866","$2,694 / month",$162.13 / month,$172.82 / month,$2.73 / gallon,$3.66,$2.13,$1.99,$3.70,$4.66,$106.84,$91.78,$100.11,$425.57,$50.44,Short,of-Columbia-Washington,District
11,1570330965-270,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Fullerton,California
12,1570330914-246,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Moscow,Idaho
13,1570330493-48,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Albany,New_York
14,1570330689-140,https://www.payscale.com/cost-of-living-calcul...,"$282,805",$885.91 / month,$177.55 / month,$189.26 / month,$2.53 / gallon,$2.75,$1.60,$1.50,$2.78,$3.51,$102.63,$88.17,$96.17,$408.81,$49.00,Short,Waco,Texas
15,1570330474-39,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Kingston,Rhode_Island
16,1570330919-248,https://www.payscale.com/cost-of-living-calcul...,"$320,281","$1,003 / month",$130.77 / month,$139.40 / month,$2.80 / gallon,$3.25,$1.89,$1.76,$3.28,$4.13,$102.63,$88.17,$96.17,$408.81,$49.26,Short,Salt-Lake-City,Utah
17,1570330466-35,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Northampton,Massachusetts
18,1570330424-15,https://www.payscale.com/cost-of-living-calcul...,"$321,322","$1,007 / month",$199.68 / month,$212.86 / month,$2.76 / gallon,$3.29,$1.92,$1.79,$3.32,$4.19,$97.76,$83.98,$91.60,$389.40,$50.90,Short,Harrisburg,Pennsylvania
19,1570330991-282,https://www.payscale.com/cost-of-living-calcul...,"$2,140,883","$6,706 / month",$181.74 / month,$193.73 / month,$3.16 / gallon,$4.92,$2.87,$2.67,$4.96,$6.26,$150.01,$128.87,$140.57,$597.56,$65.26,Short,Stanford,California
20,1570330567-83,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Princeton,New_Jersey
21,1570330489-46,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,South-Orange,New_Jersey
22,1570330451-28,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Geneseo,New_York
23,1570330910-244,https://www.payscale.com/cost-of-living-calcul...,"$337,631","$1,058 / month",$190.63 / month,$203.20 / month,$2.54 / gallon,$3.66,$2.13,$1.99,$3.70,$4.66,$134.84,$115.84,$126.36,$537.14,$59.65,Short,Tacoma,Washington
24,1570330917-247,https://www.payscale.com/cost-of-living-calcul...,"$370,596","$1,161 / month",$141.84 / month,$151.20 / month,$2.95 / gallon,$3.33,$1.94,$1.81,$3.36,$4.24,$122.00,$104.81,$114.32,$485.98,$58.21,Short,Reno,Nevada
25,1570330514-58,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Lewiston,Maine
26,1570330449-27,https://www.payscale.com/cost-of-living-calcul...,"$828,384","$2,595 / month",$208.74 / month,$222.51 / month,$3.00 / gallon,$3.87,$2.25,$2.10,$3.90,$4.93,$117.02,$100.53,$109.65,$466.14,$55.18,Short,Collegeville,Pennsylvania
27,1570330889-234,https://www.payscale.com/cost-of-living-calcul...,"$320,281","$1,003 / month",$126.75 / month,$135.11 / month,$2.93 / gallon,$3.23,$1.88,$1.75,$3.26,$4.11,$125.66,$107.95,$117.74,$500.54,$50.23,Short,Spokane,Washington
28,1570330785-185,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Toledo,Ohio
29,1570330904-241,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Walla-Walla,Washington
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,1570330588-93,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Morehead,Kentucky
247,1570330929-253,https://www.payscale.com/cost-of-living-calcul...,"$673,874","$2,111 / month",$206.39 / month,$220.00 / month,$3.47 / gallon,$4.22,$2.46,$2.29,$4.26,$5.37,$137.50,$118.13,$128.85,$547.72,$69.64,Short,Seattle,Washington
248,1570330984-279,https://www.payscale.com/cost-of-living-calcul...,"$1,128,030","$3,534 / month",$190.46 / month,$203.03 / month,$3.40 / gallon,$4.18,$2.43,$2.27,$4.22,$5.32,$136.28,$117.08,$127.70,$542.87,$62.69,Short,Berkeley,California
249,1570330623-109,https://www.payscale.com/cost-of-living-calcul...,"$271,701",$851.12 / month,$155.25 / month,$165.49 / month,$2.66 / gallon,$3.47,$2.02,$1.88,$3.50,$4.41,$107.17,$92.07,$100.42,$426.89,$45.04,Short,El-Paso,Texas
250,1570330586-92,https://www.payscale.com/cost-of-living-calcul...,"$399,656","$1,252 / month",$175.04 / month,$186.58 / month,$2.26 / gallon,$2.95,$1.72,$1.60,$2.97,$3.75,$98.53,$84.65,$92.33,$392.49,$48.90,Short,Clinton,Mississippi
251,1570330967-271,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Chico,California
252,1570330426-16,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Saratoga-Springs,New_York
253,1570330593-95,https://www.payscale.com/cost-of-living-calcul...,"$257,821",$807.64 / month,$146.03 / month,$155.67 / month,$2.26 / gallon,$3.02,$1.76,$1.64,$3.04,$3.84,$90.45,$77.70,$84.76,$360.30,$45.91,Short,Jonesboro,Arkansas
254,1570330495-49,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Hempstead,New_York
255,1570330706-148,https://www.payscale.com/cost-of-living-calcul...,"$376,495","$1,179 / month",$159.11 / month,$169.61 / month,$2.24 / gallon,$3.52,$2.05,$1.91,$3.55,$4.49,$122.33,$105.10,$114.63,$487.31,$59.86,Short,Charlottesville,Virginia
256,1570330576-87,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Virginia-Beach,Virginia
257,1570330727-158,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Pittsburg,Kansas
258,1570330497-50,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Lancaster,Pennsylvania
259,1570330791-188,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Fargo,North_Dakota
260,1570330625-110,https://www.payscale.com/cost-of-living-calcul...,"$315,423",$988.08 / month,$144.36 / month,$153.88 / month,$2.43 / gallon,$3.66,$2.13,$1.99,$3.69,$4.66,$109.05,$93.68,$102.18,$434.39,$51.06,Short,Tallahassee,Florida
261,1570330793-189,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Springfield,Ohio
262,1570330419-13,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Bris,Rhode_Island
263,1570330518-60,https://www.payscale.com/cost-of-living-calcul...,"$616,230","$1,930 / month",$161.62 / month,$172.29 / month,$2.94 / gallon,$3.35,$1.95,$1.82,$3.38,$4.27,$125.77,$108.04,$117.85,$500.98,$60.58,Short,Middletown,Connecticut
264,1570330874-227,https://www.payscale.com/cost-of-living-calcul...,"$336,194","$1,053 / month",$126.75 / month,$135.11 / month,$2.93 / gallon,$3.23,$1.88,$1.75,$3.26,$4.11,$125.66,$107.95,$117.74,$500.54,$50.23,Short,Cheney,Washington
265,1570330460-32,https://www.payscale.com/cost-of-living-calcul...,"$244,957",$767.34 / month,$208.74 / month,$222.51 / month,$3.00 / gallon,$3.87,$2.25,$2.10,$3.90,$4.93,$117.02,$100.53,$109.65,$466.14,$55.18,Short,Chester,Pennsylvania
266,1570330618-107,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Columbia,South_Carolina
267,1570330948-262,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Dominguez-Hills,California
268,1570330806-195,https://www.payscale.com/cost-of-living-calcul...,"$286,622",$897.86 / month,$120.21 / month,$128.14 / month,$2.66 / gallon,$3.20,$1.87,$1.74,$3.23,$4.08,$113.37,$97.39,$106.23,$451.58,$53.22,Short,Lincoln,Nebraska
269,1570330650-122,https://www.payscale.com/cost-of-living-calcul...,"$311,953",$977.21 / month,$216.11 / month,$230.37 / month,$2.47 / gallon,$2.99,$1.74,$1.63,$3.02,$3.81,$100.75,$86.55,$94.40,$401.31,$50.23,Short,Beaumont,Texas
270,1570330653-123,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,University,Mississippi
271,1570330680-136,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Clemson,South_Carolina
272,1570330655-124,https://www.payscale.com/cost-of-living-calcul...,"$237,695",$744.60 / month,$166.99 / month,$178.01 / month,$2.26 / gallon,$2.85,$1.66,$1.55,$2.88,$3.63,$99.20,$85.22,$92.95,$395.14,$51.83,Short,Cookeville,Tennessee
273,1570330443-24,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Teaneck,New_Jersey
274,1570330697-144,https://www.payscale.com/cost-of-living-calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,College-Park,Maryland
275,1570330955-265,https://www.payscale.com/cost-of-living-calcul...,"$474,696","$1,487 / month",$149.72 / month,$159.60 / month,$3.20 / gallon,$3.89,$2.26,$2.11,$3.92,$4.95,$114.81,$98.63,$107.58,$457.32,$56.15,Short,Sacramento,California

In [21]:
for x in scrape_df:
    scrape_df[x]=scrape_df[x].str.replace('$','')
    scrape_df[x]=scrape_df[x].str.replace('month','')
    scrape_df[x]=scrape_df[x].str.replace('/','')
    scrape_df[x]=scrape_df[x].str.replace('gallon','')
    scrape_df[x]=scrape_df[x].str.replace(',','')
    
scrape_df.head()

,web-scraper-order,web-scraper-start-url,home,rent,energy,phone,gas,bread,milk,eggs,bananas,hamburger,doctor,dentist,optometrist,drug,veterinary,test,City,State
0,1570330668-130,https:www.payscale.comcost-of-living-calculato...,247758,776.12,154.08,164.24,2.18,3.02,1.76,1.64,3.05,3.85,100.41,86.26,94.09,399.99,46.79,Short,Oklahoma-City,Oklahoma
1,1570330638-116,https:www.payscale.comcost-of-living-calculato...,259903,814.16,183.42,195.52,2.50,3.26,1.90,1.77,3.29,4.16,96.54,82.94,90.46,384.55,48.02,Short,Lafayette,Louisiana
2,1570330590-94,https:www.payscale.comcost-of-living-calculato...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short,Stephenville,Texas
3,1570330925-251,https:www.payscale.comcost-of-living-calculato...,463245,1451,156.76,167.10,2.75,3.26,1.90,1.77,3.29,4.15,116.58,100.15,109.24,464.37,55.28,Short,Denver,Colorado
4,1570330988-281,https:www.payscale.comcost-of-living-calculato...,987211,3093,180.74,192.66,3.42,3.73,2.17,2.03,3.77,4.75,121.67,104.53,114.01,484.66,54.97,Short,Pasadena,California

In [22]:
scrape_df[['home','rent','energy','phone','gas','bread','milk','eggs','bananas','hamburger','doctor','dentist','optometrist','drug','veterinary']] = scrape_df[['home','rent','energy','phone','gas','bread','milk','eggs','bananas','hamburger','doctor','dentist','optometrist','drug','veterinary']].apply(pd.to_numeric, errors='coerce')
scrape_df.dtypes

web-scraper-order         object
web-scraper-start-url     object
home                     float64
rent                     float64
energy                   float64
phone                    float64
gas                      float64
bread                    float64
milk                     float64
eggs                     float64
bananas                  float64
hamburger                float64
doctor                   float64
dentist                  float64
optometrist              float64
drug                     float64
veterinary               float64
test                      object
City                      object
State                     object
dtype: object

In [23]:
scrape_clean = scrape_df.dropna(how='any')
the_thing = scrape_clean
the_thing

,web-scraper-order,web-scraper-start-url,home,rent,energy,phone,gas,bread,milk,eggs,bananas,hamburger,doctor,dentist,optometrist,drug,veterinary,test,City,State
0,1570330668-130,https:www.payscale.comcost-of-living-calculato...,247758.0,776.12,154.08,164.24,2.18,3.02,1.76,1.64,3.05,3.85,100.41,86.26,94.09,399.99,46.79,Short,Oklahoma-City,Oklahoma
1,1570330638-116,https:www.payscale.comcost-of-living-calculato...,259903.0,814.16,183.42,195.52,2.50,3.26,1.90,1.77,3.29,4.16,96.54,82.94,90.46,384.55,48.02,Short,Lafayette,Louisiana
3,1570330925-251,https:www.payscale.comcost-of-living-calculato...,463245.0,1451.00,156.76,167.10,2.75,3.26,1.90,1.77,3.29,4.15,116.58,100.15,109.24,464.37,55.28,Short,Denver,Colorado
4,1570330988-281,https:www.payscale.comcost-of-living-calculato...,987211.0,3093.00,180.74,192.66,3.42,3.73,2.17,2.03,3.77,4.75,121.67,104.53,114.01,484.66,54.97,Short,Pasadena,California
5,1570330757-172,https:www.payscale.comcost-of-living-calculato...,343877.0,1077.00,162.63,173.36,2.85,3.38,1.97,1.84,3.41,4.30,93.11,79.99,87.25,370.88,43.29,Short,Akron,Ohio
6,1570330768-177,https:www.payscale.comcost-of-living-calculato...,285928.0,895.69,161.29,171.93,2.68,3.25,1.89,1.77,3.28,4.14,112.04,96.25,104.98,446.29,49.46,Short,Carbondale,Illinois
9,1570330963-269,https:www.payscale.comcost-of-living-calculato...,1146835.0,3593.00,182.92,194.98,3.51,4.28,2.49,2.33,4.32,5.45,132.96,114.23,124.59,529.64,62.84,Short,San-Francisco,California
10,1570330719-154,https:www.payscale.comcost-of-living-calculato...,859866.0,2694.00,162.13,172.82,2.73,3.66,2.13,1.99,3.70,4.66,106.84,91.78,100.11,425.57,50.44,Short,of-Columbia-Washington,District
14,1570330689-140,https:www.payscale.comcost-of-living-calculato...,282805.0,885.91,177.55,189.26,2.53,2.75,1.60,1.50,2.78,3.51,102.63,88.17,96.17,408.81,49.00,Short,Waco,Texas
16,1570330919-248,https:www.payscale.comcost-of-living-calculato...,320281.0,1003.00,130.77,139.40,2.80,3.25,1.89,1.76,3.28,4.13,102.63,88.17,96.17,408.81,49.26,Short,Salt-Lake-City,Utah
18,1570330424-15,https:www.payscale.comcost-of-living-calculato...,321322.0,1007.00,199.68,212.86,2.76,3.29,1.92,1.79,3.32,4.19,97.76,83.98,91.60,389.40,50.90,Short,Harrisburg,Pennsylvania
19,1570330991-282,https:www.payscale.comcost-of-living-calculato...,2140883.0,6706.00,181.74,193.73,3.16,4.92,2.87,2.67,4.96,6.26,150.01,128.87,140.57,597.56,65.26,Short,Stanford,California
23,1570330910-244,https:www.payscale.comcost-of-living-calculato...,337631.0,1058.00,190.63,203.20,2.54,3.66,2.13,1.99,3.70,4.66,134.84,115.84,126.36,537.14,59.65,Short,Tacoma,Washington
24,1570330917-247,https:www.payscale.comcost-of-living-calculato...,370596.0,1161.00,141.84,151.20,2.95,3.33,1.94,1.81,3.36,4.24,122.00,104.81,114.32,485.98,58.21,Short,Reno,Nevada
26,1570330449-27,https:www.payscale.comcost-of-living-calculato...,828384.0,2595.00,208.74,222.51,3.00,3.87,2.25,2.10,3.90,4.93,117.02,100.53,109.65,466.14,55.18,Short,Collegeville,Pennsylvania
27,1570330889-234,https:www.payscale.comcost-of-living-calculato...,320281.0,1003.00,126.75,135.11,2.93,3.23,1.88,1.75,3.26,4.11,125.66,107.95,117.74,500.54,50.23,Short,Spokane,Washington
30,1570330516-59,https:www.payscale.comcost-of-living-calculato...,717943.0,2249.00,236.57,252.17,2.89,3.52,2.05,1.91,3.55,4.49,149.68,128.59,140.26,596.23,66.81,Short,Boston,Massachusetts
31,1570330787-186,https:www.payscale.comcost-of-living-calculato...,326527.0,1023.00,171.18,182.47,2.82,3.02,1.76,1.64,3.05,3.85,104.29,89.59,97.72,415.42,50.03,Short,Detroit,Michigan
33,1570330876-228,https:www.payscale.comcost-of-living-calculato...,376148.0,1178.00,151.23,161.21,2.96,3.46,2.02,1.88,3.49,4.41,113.70,97.68,106.54,452.91,51.52,Short,Las-Vegas,Nevada
35,1570330610-103,https:www.payscale.comcost-of-living-calculato...,299808.0,939.17,169.00,180.15,2.38,3.18,1.85,1.73,3.21,4.05,92.77,79.70,86.93,369.56,47.20,Short,Birmingham,Alabama
36,1570330866-223,https:www.payscale.comcost-of-living-calculato...,343530.0,1076.00,179.56,191.41,3.40,3.58,2.09,1.95,3.61,4.56,130.53,112.13,122.31,519.94,49.77,Short,Olympia,Washington
41,1570330762-174,https:www.payscale.comcost-of-living-calculato...,268231.0,840.25,144.19,153.70,2.68,3.79,2.21,2.06,3.82,4.83,129.09,110.90,120.96,514.21,52.91,Short,St.-Cloud,Minnesota
45,1570330829-206,https:www.payscale.comcost-of-living-calculato...,363656.0,1139.00,152.74,162.81,2.82,3.55,2.07,1.93,3.58,4.52,115.69,99.39,108.41,460.85,55.07,Short,Minneapolis,Minnesota
47,1570330770-178,https:www.payscale.comcost-of-living-calculato...,308136.0,965.26,144.02,153.52,2.40,3.14,1.83,1.71,3.17,3.99,111.37,95.68,104.36,443.65,48.48,Short,Omaha,Nebraska
49,1570330982-278,https:www.payscale.comcost-of-living-calculato...,788384.0,2470.00,180.74,192.66,3.42,3.73,2.17,2.03,3.77,4.75,121.67,104.53,114.01,484.66,54.97,Short,Los-Angeles,California
50,1570330457-31,https:www.payscale.comcost-of-living-calculato...,475397.0,1489.00,181.74,193.73,2.76,4.27,2.49,2.32,4.31,5.44,129.09,110.90,120.96,514.21,63.10,Short,West-Haven,Connecticut
52,1570330812-198,https:www.payscale.comcost-of-living-calculato...,572175.0,1792.00,175.54,187.12,2.68,3.70,2.16,2.01,3.74,4.71,112.04,96.25,104.98,446.29,54.56,Short,Oberlin,Ohio
53,1570330687-139,https:www.payscale.comcost-of-living-calculato...,316117.0,990.26,199.01,212.14,2.70,3.45,2.01,1.88,3.48,4.39,109.16,93.78,102.29,434.83,48.74,Short,Gainesville,Florida
55,1570330584-91,https:www.payscale.comcost-of-living-calculato...,364003.0,1140.00,174.87,186.40,2.59,3.16,1.84,1.72,3.19,4.02,112.04,96.25,104.98,446.29,52.65,Short,Dallas,Texas
58,1570330535-68,https:www.payscale.comcost-of-living-calculato...,316747.0,992.23,195.49,208.39,2.82,3.34,1.95,1.82,3.37,4.25,119.23,102.43,111.73,474.96,56.77,Short,Brunswick,Maine
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,1570330462-33,https:www.payscale.comcost-of-living-calculato...,1356983.0,4251.00,236.57,252.17,2.89,3.52,2.05,1.91,3.55,4.49,149.68,128.59,140.26,596.23,66.81,Short,Wellesley,Massachusetts
210,1570330665-129,https:www.payscale.comcost-of-living-calculato...,263026.0,823.95,158.61,169.07,2.22,3.11,1.81,1.69,3.13,3.96,97.87,84.08,91.71,389.84,50.49,Short,Fayetteville,Arkansas
213,1570330986-280,https:www.payscale.comcost-of-living-calculato...,820543.0,2570.00,180.74,192.66,3.42,3.73,2.17,2.03,3.77,4.75,121.67,104.53,114.01,484.66,54.97,Short,Claremont,California
215,1570330614-105,https:www.payscale.comcost-of-living-calculato...,266843.0,835.90,194.99,207.85,2.77,3.33,1.94,1.81,3.36,4.24,108.83,93.49,101.98,433.50,49.93,Short,Tampa,Florida
216,1570330931-254,https:www.payscale.comcost-of-living-calculato...,277600.0,869.60,151.23,161.21,2.52,3.42,1.99,1.86,3.45,4.35,112.04,96.25,104.98,446.29,52.14,Short,Tucson,Arizona
217,1570330640-117,https:www.payscale.comcost-of-living-calculato...,509743.0,1597.00,179.56,191.41,2.69,3.57,2.08,1.94,3.60,4.55,101.41,87.12,95.03,403.96,54.40,Short,Baltimore,Maryland
220,1570330825-204,https:www.payscale.comcost-of-living-calculato...,331038.0,1037.00,133.63,142.44,2.79,3.02,1.76,1.64,3.05,3.85,110.38,94.82,103.43,439.68,46.22,Short,Ames,Iowa
223,1570330798-191,https:www.payscale.comcost-of-living-calculato...,294256.0,921.78,149.39,159.24,2.39,3.14,1.83,1.71,3.17,3.99,104.73,89.97,98.14,417.19,48.79,Short,Manhattan,Kansas
226,1570330978-276,https:www.payscale.comcost-of-living-calculato...,817185.0,2560.00,192.64,205.35,3.36,3.76,2.19,2.04,3.79,4.79,119.01,102.24,111.52,474.08,52.55,Short,San-Diego,California
229,1570330732-160,https:www.payscale.comcost-of-living-calculato...,281070.0,880.47,172.86,184.26,2.62,3.03,1.77,1.65,3.06,3.86,115.14,98.91,107.89,458.64,47.56,Short,Green-Bay,Wisconsin
231,1570330842-212,https:www.payscale.comcost-of-living-calculato...,407378.0,1276.00,157.10,167.46,2.57,3.67,2.14,2.00,3.71,4.68,137.94,118.51,129.26,549.49,48.90,Short,Ann-Arbor,Michigan
237,1570330908-243,https:www.payscale.comcost-of-living-calculato...,341101.0,1069.00,123.57,131.72,2.54,3.23,1.88,1.76,3.26,4.12,113.03,97.11,105.92,450.26,48.54,Short,Colorado-Springs,Colorado
238,1570330734-161,https:www.payscale.comcost-of-living-calculato...,546401.0,1712.00,162.63,173.36,2.85,3.38,1.97,1.84,3.41,4.30,93.11,79.99,87.25,370.88,43.29,Short,Kent,Ohio
240,1570330849-215,https:www.payscale.comcost-of-living-calculato...,854777.0,2678.00,151.23,161.21,3.30,3.60,2.10,1.96,3.64,4.59,112.15,96.35,105.09,446.73,59.09,Short,Evanston,Illinois
241,1570330834-208,https:www.payscale.comcost-of-living-calculato...,379618.0,1189.00,176.38,188.01,2.80,3.43,2.00,1.86,3.46,4.36,135.51,116.41,126.98,539.78,54.61,Short,Madison,Wisconsin
245,1570330663-128,https:www.payscale.comcost-of-living-calculato...,258168.0,808.73,183.92,196.06,2.49,3.20,1.86,1.74,3.23,4.07,106.95,91.88,100.21,426.01,55.12,Short,Huntsville,Alabama
247,1570330929-253,https:www.payscale.comcost-of-living-calculato...,673874.0,2111.00,206.39,220.00,3.47,4.22,2.46,2.29,4.26,5.37,137.50,118.13,128.85,547.72,69.64,Short,Seattle,Washington
248,1570330984-279,https:www.payscale.comcost-of-living-calculato...,1128030.0,3534.00,190.46,203.03,3.40,4.18,2.43,2.27,4.22,5.32,136.28,117.08,127.70,542.87,62.69,Short,Berkeley,California
249,1570330623-109,https:www.payscale.comcost-of-living-calculato...,271701.0,851.12,155.25,165.49,2.66,3.47,2.02,1.88,3.50,4.41,107.17,92.07,100.42,426.89,45.04,Short,El-Paso,Texas
250,1570330586-92,https:www.payscale.comcost-of-living-calculato...,399656.0,1252.00,175.04,186.58,2.26,2.95,1.72,1.60,2.97,3.75,98.53,84.65,92.33,392.49,48.90,Short,Clinton,Mississippi
253,1570330593-95,https:www.payscale.comcost-of-living-calculato...,257821.0,807.64,146.03,155.67,2.26,3.02,1.76,1.64,3.04,3.84,90.45,77.70,84.76,360.30,45.91,Short,Jonesboro,Arkansas
255,1570330706-148,https:www.payscale.comcost-of-living-calculato...,376495.0,1179.00,159.11,169.61,2.24,3.52,2.05,1.91,3.55,4.49,122.33,105.10,114.63,487.31,59.86,Short,Charlottesville,Virginia
260,1570330625-110,https:www.payscale.comcost-of-living-calculato...,315423.0,988.08,144.36,153.88,2.43,3.66,2.13,1.99,3.69,4.66,109.05,93.68,102.18,434.39,51.06,Short,Tallahassee,Florida
263,1570330518-60,https:www.payscale.comcost-of-living-calculato...,616230.0,1930.00,161.62,172.29,2.94,3.35,1.95,1.82,3.38,4.27,125.77,108.04,117.85,500.98,60.58,Short,Middletown,Connecticut
264,1570330874-227,https:www.payscale.comcost-of-living-calculato...,336194.0,1053.00,126.75,135.11,2.93,3.23,1.88,1.75,3.26,4.11,125.66,107.95,117.74,500.54,50.23,Short,Cheney,Washington
265,1570330460-32,https:www.payscale.comcost-of-living-calculato...,244957.0,767.34,208.74,222.51,3.00,3.87,2.25,2.10,3.90,4.93,117.02,100.53,109.65,466.14,55.18,Short,Chester,Pennsylvania
268,1570330806-195,https:www.payscale.comcost-of-living-calculato...,286622.0,897.86,120.21,128.14,2.66,3.20,1.87,1.74,3.23,4.08,113.37,97.39,106.23,451.58,53.22,Short,Lincoln,Nebraska
269,1570330650-122,https:www.payscale.comcost-of-living-calculato...,311953.0,977.21,216.11,230.37,2.47,2.99,1.74,1.63,3.02,3.81,100.75,86.55,94.40,401.31,50.23,Short,Beaumont,Texas
272,1570330655-124,https:www.payscale.comcost-of-living-calculato...,237695.0,744.60,166.99,178.01,2.26,2.85,1.66,1.55,2.88,3.63,99.20,85.22,92.95,395.14,51.83,Short,Cookeville,Tennessee
275,1570330955-265,https:www.payscale.comcost-of-living-calculato...,474696.0,1487.00,149.72,159.60,3.20,3.89,2.26,2.11,3.92,4.95,114.81,98.63,107.58,457.32,56.15,Short,Sacramento,California

In [24]:
the_thing['HLTH & WELL'] = the_thing['dentist'] + the_thing["doctor"] + the_thing["optometrist"] + the_thing["drug"]
the_thing['EAT-IN'] = the_thing['bananas'] + the_thing['eggs'] + the_thing['milk'] + the_thing['bread'] + the_thing['hamburger']
the_thing = the_thing.drop(['bananas', 'bread', "milk", 'eggs', "bananas","hamburger", "doctor", "dentist","optometrist", "drug"], axis=1)

C:\Users\Mason\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Mason\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

clean_scrp.columns = ['WEB ORDER', 'URL','MORTGAGE','RENT','ELECTRICITY','PHONE','GAS','VET','TEST', 'HLTH & WELL','EAT-IN']
clean_scrp.head()

In [27]:
final_edited_df = the_thing.drop(['web-scraper-order','test','web-scraper-start-url'], axis=1)
final_edited_df.columns = ['MORTGAGE', 'RENT', 'ELECTRICITY', 'PHONE', 'GAS', 'VET', 'CITY', 'STATE', 'HLTH & WELL', 'EAT-IN']
final_edited_df = final_edited_df[['MORTGAGE', 'RENT', 'ELECTRICITY','GAS', 'EAT-IN','PHONE','HLTH & WELL', 'VET', 'CITY', 'STATE']]
final_edited_df.head(10)

,MORTGAGE,RENT,ELECTRICITY,GAS,EAT-IN,PHONE,HLTH & WELL,VET,CITY,STATE
0,247758.0,776.12,154.08,2.18,13.32,164.24,680.75,46.79,Oklahoma-City,Oklahoma
1,259903.0,814.16,183.42,2.50,14.38,195.52,654.49,48.02,Lafayette,Louisiana
3,463245.0,1451.00,156.76,2.75,14.37,167.10,790.34,55.28,Denver,Colorado
4,987211.0,3093.00,180.74,3.42,16.45,192.66,824.87,54.97,Pasadena,California
5,343877.0,1077.00,162.63,2.85,14.90,173.36,631.23,43.29,Akron,Ohio
6,285928.0,895.69,161.29,2.68,14.33,171.93,759.56,49.46,Carbondale,Illinois
9,1146835.0,3593.00,182.92,3.51,18.87,194.98,901.42,62.84,San-Francisco,California
10,859866.0,2694.00,162.13,2.73,16.14,172.82,724.30,50.44,of-Columbia-Washington,District
14,282805.0,885.91,177.55,2.53,12.14,189.26,695.78,49.00,Waco,Texas
16,320281.0,1003.00,130.77,2.80,14.31,139.40,695.78,49.26,Salt-Lake-City,Utah

In [28]:
final_edited_df['CITY'] = final_edited_df['CITY'].str.replace('-', ' ')
final_edited_df['CITY'] = final_edited_df['CITY'].replace('of Columbia Washington', 'Washington')
final_edited_df['STATE'] = final_edited_df['STATE'].replace('District', 'DC')

final_edited_df.to_csv('payscale_city_info.csv')

In [29]:
final_edited_df

,MORTGAGE,RENT,ELECTRICITY,GAS,EAT-IN,PHONE,HLTH & WELL,VET,CITY,STATE
0,247758.0,776.12,154.08,2.18,13.32,164.24,680.75,46.79,Oklahoma City,Oklahoma
1,259903.0,814.16,183.42,2.50,14.38,195.52,654.49,48.02,Lafayette,Louisiana
3,463245.0,1451.00,156.76,2.75,14.37,167.10,790.34,55.28,Denver,Colorado
4,987211.0,3093.00,180.74,3.42,16.45,192.66,824.87,54.97,Pasadena,California
5,343877.0,1077.00,162.63,2.85,14.90,173.36,631.23,43.29,Akron,Ohio
6,285928.0,895.69,161.29,2.68,14.33,171.93,759.56,49.46,Carbondale,Illinois
9,1146835.0,3593.00,182.92,3.51,18.87,194.98,901.42,62.84,San Francisco,California
10,859866.0,2694.00,162.13,2.73,16.14,172.82,724.30,50.44,Washington,DC
14,282805.0,885.91,177.55,2.53,12.14,189.26,695.78,49.00,Waco,Texas
16,320281.0,1003.00,130.77,2.80,14.31,139.40,695.78,49.26,Salt Lake City,Utah
18,321322.0,1007.00,199.68,2.76,14.51,212.86,662.74,50.90,Harrisburg,Pennsylvania
19,2140883.0,6706.00,181.74,3.16,21.68,193.73,1017.01,65.26,Stanford,California
23,337631.0,1058.00,190.63,2.54,16.14,203.20,914.18,59.65,Tacoma,Washington
24,370596.0,1161.00,141.84,2.95,14.68,151.20,827.11,58.21,Reno,Nevada
26,828384.0,2595.00,208.74,3.00,17.05,222.51,793.34,55.18,Collegeville,Pennsylvania
27,320281.0,1003.00,126.75,2.93,14.23,135.11,851.89,50.23,Spokane,Washington
30,717943.0,2249.00,236.57,2.89,15.52,252.17,1014.76,66.81,Boston,Massachusetts
31,326527.0,1023.00,171.18,2.82,13.32,182.47,707.02,50.03,Detroit,Michigan
33,376148.0,1178.00,151.23,2.96,15.26,161.21,770.83,51.52,Las Vegas,Nevada
35,299808.0,939.17,169.00,2.38,14.02,180.15,628.96,47.20,Birmingham,Alabama
36,343530.0,1076.00,179.56,3.40,15.79,191.41,884.91,49.77,Olympia,Washington
41,268231.0,840.25,144.19,2.68,16.71,153.70,875.16,52.91,St. Cloud,Minnesota
45,363656.0,1139.00,152.74,2.82,15.65,162.81,784.34,55.07,Minneapolis,Minnesota
47,308136.0,965.26,144.02,2.40,13.84,153.52,755.06,48.48,Omaha,Nebraska
49,788384.0,2470.00,180.74,3.42,16.45,192.66,824.87,54.97,Los Angeles,California
50,475397.0,1489.00,181.74,2.76,18.83,193.73,875.16,63.10,West Haven,Connecticut
52,572175.0,1792.00,175.54,2.68,16.32,187.12,759.56,54.56,Oberlin,Ohio
53,316117.0,990.26,199.01,2.70,15.21,212.14,740.06,48.74,Gainesville,Florida
55,364003.0,1140.00,174.87,2.59,13.93,186.40,759.56,52.65,Dallas,Texas
58,316747.0,992.23,195.49,2.82,14.73,208.39,808.35,56.77,Brunswick,Maine
...,...,...,...,...,...,...,...,...,...,...
208,1356983.0,4251.00,236.57,2.89,15.52,252.17,1014.76,66.81,Wellesley,Massachusetts
210,263026.0,823.95,158.61,2.22,13.70,169.07,663.50,50.49,Fayetteville,Arkansas
213,820543.0,2570.00,180.74,3.42,16.45,192.66,824.87,54.97,Claremont,California
215,266843.0,835.90,194.99,2.77,14.68,207.85,737.80,49.93,Tampa,Florida
216,277600.0,869.60,151.23,2.52,15.07,161.21,759.56,52.14,Tucson,Arizona
217,509743.0,1597.00,179.56,2.69,15.74,191.41,687.52,54.40,Baltimore,Maryland
220,331038.0,1037.00,133.63,2.79,13.32,142.44,748.31,46.22,Ames,Iowa
223,294256.0,921.78,149.39,2.39,13.84,159.24,710.03,48.79,Manhattan,Kansas
226,817185.0,2560.00,192.64,3.36,16.57,205.35,806.85,52.55,San Diego,California
229,281070.0,880.47,172.86,2.62,13.37,184.26,780.58,47.56,Green Bay,Wisconsin
231,407378.0,1276.00,157.10,2.57,16.20,167.46,935.20,48.90,Ann Arbor,Michigan
237,341101.0,1069.00,123.57,2.54,14.25,131.72,766.32,48.54,Colorado Springs,Colorado
238,546401.0,1712.00,162.63,2.85,14.90,173.36,631.23,43.29,Kent,Ohio
240,854777.0,2678.00,151.23,3.30,15.89,161.21,760.32,59.09,Evanston,Illinois
241,379618.0,1189.00,176.38,2.80,15.11,188.01,918.68,54.61,Madison,Wisconsin
245,258168.0,808.73,183.92,2.49,14.10,196.06,725.05,55.12,Huntsville,Alabama
247,673874.0,2111.00,206.39,3.47,18.60,220.00,932.20,69.64,Seattle,Washington
248,1128030.0,3534.00,190.46,3.40,18.42,203.03,923.93,62.69,Berkeley,California
249,271701.0,851.12,155.25,2.66,15.28,165.49,726.55,45.04,El Paso,Texas
250,399656.0,1252.00,175.04,2.26,12.99,186.58,668.00,48.90,Clinton,Mississippi
253,257821.0,807.64,146.03,2.26,13.30,155.67,613.21,45.91,Jonesboro,Arkansas
255,376495.0,1179.00,159.11,2.24,15.52,169.61,829.37,59.86,Charlottesville,Virginia
260,315423.0,988.08,144.36,2.43,16.13,153.88,739.30,51.06,Tallahassee,Florida
263,616230.0,1930.00,161.62,2.94,14.77,172.29,852.64,60.58,Middletown,Connecticut
264,336194.0,1053.00,126.75,2.93,14.23,135.11,851.89,50.23,Cheney,Washington
265,244957.0,767.34,208.74,3.00,17.05,222.51,793.34,55.18,Chester,Pennsylvania
268,286622.0,897.86,120.21,2.66,14.12,128.14,768.57,53.22,Lincoln,Nebraska
269,311953.0,977.21,216.11,2.47,13.19,230.37,683.01,50.23,Beaumont,Texas
272,237695.0,744.60,166.99,2.26,12.57,178.01,672.51,51.83,Cookeville,Tennessee
275,474696.0,1487.00,149.72,3.20,17.13,159.60,778.34,56.15,Sacramento,California