In [29]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd

In [30]:
csv = "payscale_school_region.csv"
df = pd.read_csv(csv, encoding="ISO-8859-1")
df = df.drop(['Unnamed: 0', 'CITY', 'STATE','Mid-Career 10th Percentile Salary', 'Mid-Career 25th Percentile Salary', 'Mid-Career 75th Percentile Salary', 'url'], axis=1)

df

,MORTGAGE,RENT,ELECTRICITY,GAS,EAT-IN,PHONE,HLTH & WELL,VET,School Name,REGION,Starting Median Salary,Mid-Career Median Salary,Mid-Career 90th Percentile Salary
0,247758.0,776.12,154.08,2.18,13.32,164.24,680.75,46.79,University-of-Oklahoma,Southern,"$44,700.00-","$82,900.00-","$167,000.00-"
1,247758.0,776.12,154.08,2.18,13.32,164.24,680.75,46.79,Oklahoma-State-University,Southern,"$42,800.00-","$80,700.00-","$151,000.00-"
2,247758.0,776.12,154.08,2.18,13.32,164.24,680.75,46.79,Oklahoma-City-University,Southern,"$40,000.00-","$64,300.00-",NaN
3,259903.0,814.16,183.42,2.50,14.38,195.52,654.49,48.02,University-of-Louisiana-(UL)-at-Lafayette,Southern,"$41,100.00-","$76,300.00-","$163,000.00-"
4,463245.0,1451.00,156.76,2.75,14.37,167.10,790.34,55.28,University-of-Colorado---Denver,Western,"$46,100.00-","$84,400.00-","$144,000.00-"
5,463245.0,1451.00,156.76,2.75,14.37,167.10,790.34,55.28,Regis-University,Western,"$48,300.00-","$73,800.00-","$117,000.00-"
6,987211.0,3093.00,180.74,3.42,16.45,192.66,824.87,54.97,California-Institute-of-Technology-(CIT),California,"$75,500.00-","$123,000.00-",NaN
7,343877.0,1077.00,162.63,2.85,14.90,173.36,631.23,43.29,University-of-Akron,Midwestern,"$41,100.00-","$70,300.00-","$127,000.00-"
8,285928.0,895.69,161.29,2.68,14.33,171.93,759.56,49.46,Southern-Illinois-University-Carbondale,Midwestern,"$43,000.00-","$72,500.00-","$139,000.00-"
9,1146835.0,3593.00,182.92,3.51,18.87,194.98,901.42,62.84,San-Francisco-State-University-(SFSU),California,"$47,300.00-","$86,400.00-","$150,000.00-"
10,859866.0,2694.00,162.13,2.73,16.14,172.82,724.30,50.44,Georgetown-University,Southern,"$55,000.00-","$110,000.00-","$248,000.00-"
11,859866.0,2694.00,162.13,2.73,16.14,172.82,724.30,50.44,George-Washington-University-(GWU),Southern,"$47,000.00-","$97,900.00-","$194,000.00-"
12,859866.0,2694.00,162.13,2.73,16.14,172.82,724.30,50.44,"American-University,-Washington-D.C.",Southern,"$45,300.00-","$90,800.00-","$169,000.00-"
13,859866.0,2694.00,162.13,2.73,16.14,172.82,724.30,50.44,Howard-University,Southern,"$46,900.00-","$81,800.00-","$138,000.00-"
14,282805.0,885.91,177.55,2.53,12.14,189.26,695.78,49.00,Baylor-University,Southern,"$48,300.00-","$88,600.00-","$200,000.00-"
15,320281.0,1003.00,130.77,2.80,14.31,139.40,695.78,49.26,University-of-Utah,Western,"$45,400.00-","$83,200.00-","$148,000.00-"
16,321322.0,1007.00,199.68,2.76,14.51,212.86,662.74,50.90,Penn-State---Harrisburg,Northeastern,"$45,700.00-","$74,000.00-","$150,000.00-"
17,2140883.0,6706.00,181.74,3.16,21.68,193.73,1017.01,65.26,Stanford-University,California,"$70,400.00-","$129,000.00-","$257,000.00-"
18,337631.0,1058.00,190.63,2.54,16.14,203.20,914.18,59.65,University-of-Puget-Sound,Western,"$46,600.00-","$81,500.00-","$137,000.00-"
19,370596.0,1161.00,141.84,2.95,14.68,151.20,827.11,58.21,"University-of-Nevada,-Reno-(UNR)",Western,"$46,500.00-","$82,900.00-","$143,000.00-"
20,828384.0,2595.00,208.74,3.00,17.05,222.51,793.34,55.18,Ursinus-College,Northeastern,"$42,100.00-","$80,000.00-","$160,000.00-"
21,320281.0,1003.00,126.75,2.93,14.23,135.11,851.89,50.23,Gonzaga-University,Western,"$44,900.00-","$76,000.00-","$138,000.00-"
22,717943.0,2249.00,236.57,2.89,15.52,252.17,1014.76,66.81,Wentworth-Institute-of-Technology,Northeastern,"$53,000.00-","$96,700.00-","$153,000.00-"
23,717943.0,2249.00,236.57,2.89,15.52,252.17,1014.76,66.81,Boston-University,Northeastern,"$49,000.00-","$93,900.00-","$193,000.00-"
24,717943.0,2249.00,236.57,2.89,15.52,252.17,1014.76,66.81,Northeastern-University,Northeastern,"$50,500.00-","$86,400.00-","$159,000.00-"
25,717943.0,2249.00,236.57,2.89,15.52,252.17,1014.76,66.81,University-of-Massachusetts-(UMass)---Boston,Northeastern,"$45,600.00-","$78,200.00-","$151,000.00-"
26,717943.0,2249.00,236.57,2.89,15.52,252.17,1014.76,66.81,Suffolk-University,Northeastern,"$42,100.00-","$74,000.00-","$145,000.00-"
27,326527.0,1023.00,171.18,2.82,13.32,182.47,707.02,50.03,Wayne-State-University,Midwestern,"$42,800.00-","$76,100.00-","$139,000.00-"
28,376148.0,1178.00,151.23,2.96,15.26,161.21,770.83,51.52,"University-of-Nevada,-Las-Vegas-(UNLV)",Western,"$45,200.00-","$71,600.00-","$128,000.00-"
29,299808.0,939.17,169.00,2.38,14.02,180.15,628.96,47.20,University-of-Alabama-at-Birmingham-(UAB),Southern,"$39,200.00-","$70,100.00-","$125,000.00-"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,820543.0,2570.00,180.74,3.42,16.45,192.66,824.87,54.97,Pomona-College,California,"$48,600.00-","$101,000.00-",NaN
136,266843.0,835.90,194.99,2.77,14.68,207.85,737.80,49.93,University-of-South-Florida-(USF),Southern,"$41,100.00-","$71,100.00-","$131,000.00-"
137,277600.0,869.60,151.23,2.52,15.07,161.21,759.56,52.14,University-of-Arizona,Western,"$47,500.00-","$86,100.00-","$160,000.00-"
138,509743.0,1597.00,179.56,2.69,15.74,191.41,687.52,54.40,University-of-Maryland-Baltimore-County-(UMBC),Southern,"$47,000.00-","$77,800.00-","$130,000.00-"
139,331038.0,1037.00,133.63,2.79,13.32,142.44,748.31,46.22,Iowa-State-University,Midwestern,"$45,400.00-","$84,600.00-","$147,000.00-"
140,294256.0,921.78,149.39,2.39,13.84,159.24,710.03,48.79,Kansas-State-University-(KSU),Midwestern,"$43,300.00-","$79,000.00-","$138,000.00-"
141,817185.0,2560.00,192.64,3.36,16.57,205.35,806.85,52.55,"University-of-California,-San-Diego-(UCSD)",California,"$51,100.00-","$101,000.00-","$177,000.00-"
142,817185.0,2560.00,192.64,3.36,16.57,205.35,806.85,52.55,San-Diego-State-University-(SDSU),California,"$46,200.00-","$85,200.00-","$158,000.00-"
143,281070.0,880.47,172.86,2.62,13.37,184.26,780.58,47.56,University-of-Wisconsin-(UW)---Green-Bay,Midwestern,"$35,800.00-","$60,600.00-","$102,000.00-"
144,407378.0,1276.00,157.10,2.57,16.20,167.46,935.20,48.90,University-of-Michigan,Midwestern,"$52,700.00-","$93,000.00-","$182,000.00-"
145,341101.0,1069.00,123.57,2.54,14.25,131.72,766.32,48.54,Colorado-College-(CC),Western,"$38,500.00-","$81,400.00-",NaN
146,546401.0,1712.00,162.63,2.85,14.90,173.36,631.23,43.29,Kent-State-University,Midwestern,"$38,700.00-","$62,600.00-","$124,000.00-"
147,854777.0,2678.00,151.23,3.30,15.89,161.21,760.32,59.09,Northwestern-University,Midwestern,"$52,700.00-","$95,900.00-","$205,000.00-"
148,379618.0,1189.00,176.38,2.80,15.11,188.01,918.68,54.61,University-of-Wisconsin-(UW)---Madison,Midwestern,"$48,900.00-","$87,800.00-","$170,000.00-"
149,258168.0,808.73,183.92,2.49,14.10,196.06,725.05,55.12,University-of-Alabama-at-Huntsville-(UAH),Southern,"$43,100.00-","$82,700.00-","$132,000.00-"
150,673874.0,2111.00,206.39,3.47,18.60,220.00,932.20,69.64,University-of-Washington-(UW),Western,"$48,800.00-","$85,300.00-","$149,000.00-"
151,673874.0,2111.00,206.39,3.47,18.60,220.00,932.20,69.64,Seattle-University,Western,"$48,300.00-","$82,800.00-","$150,000.00-"
152,1128030.0,3534.00,190.46,3.40,18.42,203.03,923.93,62.69,"University-of-California,-Berkeley",California,"$59,900.00-","$112,000.00-","$201,000.00-"
153,271701.0,851.12,155.25,2.66,15.28,165.49,726.55,45.04,University-of-Texas-at-El-Paso-(UTEP),Southern,"$43,400.00-","$72,100.00-","$133,000.00-"
154,399656.0,1252.00,175.04,2.26,12.99,186.58,668.00,48.90,Mississippi-College,Southern,"$35,400.00-","$60,400.00-",NaN
155,257821.0,807.64,146.03,2.26,13.30,155.67,613.21,45.91,Arkansas-State-University-(ASU),Southern,"$38,700.00-","$63,300.00-","$118,000.00-"
156,376495.0,1179.00,159.11,2.24,15.52,169.61,829.37,59.86,University-of-Virginia-(UVA),Southern,"$52,700.00-","$103,000.00-","$215,000.00-"
157,315423.0,988.08,144.36,2.43,16.13,153.88,739.30,51.06,Florida-State-University-(FSU),Southern,"$42,100.00-","$73,000.00-","$156,000.00-"
158,616230.0,1930.00,161.62,2.94,14.77,172.29,852.64,60.58,"Wesleyan-University-(Middletown,-Connecticut)",Northeastern,"$46,500.00-","$97,900.00-","$215,000.00-"
159,336194.0,1053.00,126.75,2.93,14.23,135.11,851.89,50.23,Eastern-Washington-University,Western,"$38,600.00-","$70,900.00-","$117,000.00-"
160,244957.0,767.34,208.74,3.00,17.05,222.51,793.34,55.18,Widener-University,Northeastern,"$52,900.00-","$83,400.00-","$138,000.00-"
161,286622.0,897.86,120.21,2.66,14.12,128.14,768.57,53.22,University-of-Nebraska,Midwestern,"$45,700.00-","$80,900.00-","$156,000.00-"
162,311953.0,977.21,216.11,2.47,13.19,230.37,683.01,50.23,Lamar-University,Southern,"$46,500.00-","$79,400.00-","$158,000.00-"
163,237695.0,744.60,166.99,2.26,12.57,178.01,672.51,51.83,Tennessee-Technological-University,Southern,"$46,200.00-","$80,000.00-","$121,000.00-"
164,474696.0,1487.00,149.72,3.20,17.13,159.60,778.34,56.15,"California-State-University,-Sacramento-(CSUS)",California,"$47,800.00-","$82,400.00-","$154,000.00-"

In [31]:
#df = df.drop(['School Name'],axis=1)

In [32]:
df.dtypes

MORTGAGE                             float64
RENT                                 float64
ELECTRICITY                          float64
GAS                                  float64
EAT-IN                               float64
PHONE                                float64
HLTH & WELL                          float64
VET                                  float64
School Name                           object
REGION                                object
Starting Median Salary                object
Mid-Career Median Salary              object
Mid-Career 90th Percentile Salary     object
dtype: object

In [33]:
df['Starting Median Salary'] = df['Starting Median Salary'].str.replace('$', '')
df['Starting Median Salary'] = df['Starting Median Salary'].str.replace('-', '')
df['Starting Median Salary'] = df['Starting Median Salary'].str.replace(',', '')

df['School Name'] = df['School Name'].str.replace('-', ' ')



df['Mid-Career Median Salary'] = df['Mid-Career Median Salary'].str.replace('$', '')
df['Mid-Career Median Salary'] = df['Mid-Career Median Salary'].str.replace('-', '')
df['Mid-Career Median Salary'] = df['Mid-Career Median Salary'].str.replace(',', '')
\

df['Mid-Career 90th Percentile Salary'] = df['Mid-Career 90th Percentile Salary'].str.replace('$', '')
df['Mid-Career 90th Percentile Salary'] = df['Mid-Career 90th Percentile Salary'].str.replace('-', '')
df['Mid-Career 90th Percentile Salary'] = df['Mid-Career 90th Percentile Salary'].str.replace(',', '')

df.head()

,MORTGAGE,RENT,ELECTRICITY,GAS,EAT-IN,PHONE,HLTH & WELL,VET,School Name,REGION,Starting Median Salary,Mid-Career Median Salary,Mid-Career 90th Percentile Salary
0,247758.0,776.12,154.08,2.18,13.32,164.24,680.75,46.79,University of Oklahoma,Southern,44700.00,82900.00,167000.00
1,247758.0,776.12,154.08,2.18,13.32,164.24,680.75,46.79,Oklahoma State University,Southern,42800.00,80700.00,151000.00
2,247758.0,776.12,154.08,2.18,13.32,164.24,680.75,46.79,Oklahoma City University,Southern,40000.00,64300.00,NaN
3,259903.0,814.16,183.42,2.50,14.38,195.52,654.49,48.02,University of Louisiana (UL) at Lafayette,Southern,41100.00,76300.00,163000.00
4,463245.0,1451.00,156.76,2.75,14.37,167.10,790.34,55.28,University of Colorado Denver,Western,46100.00,84400.00,144000.00

In [34]:
df[['Starting Median Salary', 'Mid-Career Median Salary', 'Mid-Career 90th Percentile Salary']] = df[['Starting Median Salary', 'Mid-Career Median Salary', 'Mid-Career 90th Percentile Salary']].apply(pd.to_numeric, errors='coerce')

In [35]:
df.head()

,MORTGAGE,RENT,ELECTRICITY,GAS,EAT-IN,PHONE,HLTH & WELL,VET,School Name,REGION,Starting Median Salary,Mid-Career Median Salary,Mid-Career 90th Percentile Salary
0,247758.0,776.12,154.08,2.18,13.32,164.24,680.75,46.79,University of Oklahoma,Southern,44700.0,82900.0,167000.0
1,247758.0,776.12,154.08,2.18,13.32,164.24,680.75,46.79,Oklahoma State University,Southern,42800.0,80700.0,151000.0
2,247758.0,776.12,154.08,2.18,13.32,164.24,680.75,46.79,Oklahoma City University,Southern,40000.0,64300.0,NaN
3,259903.0,814.16,183.42,2.50,14.38,195.52,654.49,48.02,University of Louisiana (UL) at Lafayette,Southern,41100.0,76300.0,163000.0
4,463245.0,1451.00,156.76,2.75,14.37,167.10,790.34,55.28,University of Colorado Denver,Western,46100.0,84400.0,144000.0

In [20]:
# df.dtypes

# df.to_csv('ml.csv')

In [43]:
df = df[['School Name','Starting Median Salary', 'Mid-Career Median Salary', 'Mid-Career 90th Percentile Salary', 'MORTGAGE',\
        'RENT', 'ELECTRICITY', 'GAS', 'EAT-IN','PHONE', 'HLTH & WELL', 'VET', 'REGION']]
df = df.dropna()
df.head()

df.to_csv('recommendation.csv')

In [14]:
X = df.drop('REGION', axis=1)
y = df['REGION']

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [16]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [17]:
y_pred = classifier.predict(X_test)

In [18]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[0 0 1 0 0]
 [0 8 0 1 1]
 [0 0 2 0 0]
 [0 5 0 7 0]
 [0 0 0 1 3]]
              precision    recall  f1-score   support

  California       0.00      0.00      0.00         1
  Midwestern       0.62      0.80      0.70        10
Northeastern       0.67      1.00      0.80         2
    Southern       0.78      0.58      0.67        12
     Western       0.75      0.75      0.75         4

   micro avg       0.69      0.69      0.69        29
   macro avg       0.56      0.63      0.58        29
weighted avg       0.68      0.69      0.67        29

C:\Users\Mason\Anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)