In [3]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd

In [10]:
south_md_west_csv = "southern_and_west.csv"
df = pd.read_csv(south_md_west_csv, encoding="ISO-8859-1")
df.shape

(19, 9)

In [11]:
df

,MORTGAGE,RENT,ELECTRICITY,GAS,EAT-IN,PHONE,HLTH & WELL,VET,REGION
0,327568,1026.00,143.01,2.64,13.53,152.45,806.85,52.50,Southern
1,353246,1107.00,147.04,2.44,11.29,156.74,746.06,51.88,Southern
2,296685,929.39,153.91,2.53,12.07,164.06,773.83,52.34,Southern
3,364003,1140.00,174.87,2.59,12.21,186.40,759.56,52.65,Southern
4,363656,1139.00,185.43,2.54,11.17,197.66,684.51,48.64,Southern
5,498986,1563.00,165.31,2.93,13.56,176.22,728.05,52.19,Southern
6,316117,990.26,150.73,2.62,12.48,160.67,613.21,53.37,Southern
7,308483,966.34,186.44,2.45,13.14,198.74,662.00,48.69,Southern
8,241512,756.55,161.62,2.39,14.57,172.29,772.33,54.82,Southern
9,266843,835.90,194.99,2.77,12.87,207.85,737.80,49.93,Southern
10,859866,2694.00,162.13,2.73,14.15,172.82,724.30,50.44,Southern
11,539932,1691.00,151.23,3.30,15.89,161.21,760.32,59.09,Mid-West
12,264414,828.29,159.95,2.63,13.40,170.50,738.55,52.45,Mid-West
13,306401,959.82,175.54,2.68,16.32,187.12,759.56,54.56,Mid-West
14,326527,1023.00,171.18,2.82,13.32,182.47,707.02,50.03,Mid-West
15,319587,1001.00,180.74,2.57,14.71,192.66,742.30,53.48,Mid-West
16,325833,1021.00,179.73,2.49,14.37,191.59,851.13,48.74,Mid-West
17,363656,1139.00,152.74,2.82,15.65,162.81,784.34,55.07,Mid-West
18,252269,790.25,192.31,2.62,15.34,204.99,766.32,49.98,Mid-West

In [13]:
X = df.drop('REGION', axis=1)
y = df['REGION']

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [15]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [16]:
y_pred = classifier.predict(X_test)

In [17]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[1 0]
 [1 2]]
              precision    recall  f1-score   support

    Mid-West       0.50      1.00      0.67         1
    Southern       1.00      0.67      0.80         3

   micro avg       0.75      0.75      0.75         4
   macro avg       0.75      0.83      0.73         4
weighted avg       0.88      0.75      0.77         4