In [1]:
import pandas as pd
from numpy import reshape

In [2]:
south_md_west_csv = "southern_and_west.csv"
df = pd.read_csv(south_md_west_csv, encoding="ISO-8859-1")
df.shape

(19, 9)

In [3]:
new_df = df.replace(['Southern','Mid-West'], [0,1])
new_df

,MORTGAGE,RENT,ELECTRICITY,GAS,EAT-IN,PHONE,HLTH & WELL,VET,REGION
0,327568,1026.00,143.01,2.64,13.53,152.45,806.85,52.50,0
1,353246,1107.00,147.04,2.44,11.29,156.74,746.06,51.88,0
2,296685,929.39,153.91,2.53,12.07,164.06,773.83,52.34,0
3,364003,1140.00,174.87,2.59,12.21,186.40,759.56,52.65,0
4,363656,1139.00,185.43,2.54,11.17,197.66,684.51,48.64,0
5,498986,1563.00,165.31,2.93,13.56,176.22,728.05,52.19,0
6,316117,990.26,150.73,2.62,12.48,160.67,613.21,53.37,0
7,308483,966.34,186.44,2.45,13.14,198.74,662.00,48.69,0
8,241512,756.55,161.62,2.39,14.57,172.29,772.33,54.82,0
9,266843,835.90,194.99,2.77,12.87,207.85,737.80,49.93,0
10,859866,2694.00,162.13,2.73,14.15,172.82,724.30,50.44,0
11,539932,1691.00,151.23,3.30,15.89,161.21,760.32,59.09,1
12,264414,828.29,159.95,2.63,13.40,170.50,738.55,52.45,1
13,306401,959.82,175.54,2.68,16.32,187.12,759.56,54.56,1
14,326527,1023.00,171.18,2.82,13.32,182.47,707.02,50.03,1
15,319587,1001.00,180.74,2.57,14.71,192.66,742.30,53.48,1
16,325833,1021.00,179.73,2.49,14.37,191.59,851.13,48.74,1
17,363656,1139.00,152.74,2.82,15.65,162.81,784.34,55.07,1
18,252269,790.25,192.31,2.62,15.34,204.99,766.32,49.98,1

In [4]:
X = new_df.drop('REGION', axis=1)
y = new_df['REGION']
print(X.shape)
print(y.shape)

(19, 8)
(19,)

In [5]:
print(y)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
Name: REGION, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [7]:
from sklearn.preprocessing import StandardScaler

X_scaler = StandardScaler().fit(X_train)

C:\Users\Mason\Anaconda3\envs\PythonData\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

In [8]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

C:\Users\Mason\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.
C:\Users\Mason\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

In [9]:
from tensorflow.keras.utils import to_categorical

In [10]:
# One-hot encoding
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)
y_train_categorical

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.]], dtype=float32)

In [11]:
from tensorflow.keras.models import Sequential

model = Sequential()

In [12]:
from tensorflow.keras.layers import Dense
number_inputs = 8
number_hidden_nodes = 4
model.add(Dense(units=number_hidden_nodes,
                activation='relu', input_dim=number_inputs))

WARNING:tensorflow:From C:\Users\Mason\Anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [13]:
number_classes = 2
model.add(Dense(units=number_classes, activation='softmax'))

In [14]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 4)                 36
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 10
=================================================================
Total params: 46
Trainable params: 46
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Use categorical crossentropy for categorical data and mean squared error for regression
# Hint: your output layer in this example is using software for logistic regression (categorical)
# If your output layer activation was `linear` then you may want to use `mse` for loss
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [18]:
# Fit (train) the model
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=50,
    shuffle=True,
    verbose=2
)

Epoch 1/50
14/14 - 0s - loss: 0.7382 - acc: 0.5714
Epoch 2/50
14/14 - 0s - loss: 0.7356 - acc: 0.5714
Epoch 3/50
14/14 - 0s - loss: 0.7334 - acc: 0.5714
Epoch 4/50
14/14 - 0s - loss: 0.7312 - acc: 0.5714
Epoch 5/50
14/14 - 0s - loss: 0.7290 - acc: 0.5714
Epoch 6/50
14/14 - 0s - loss: 0.7268 - acc: 0.5714
Epoch 7/50
14/14 - 0s - loss: 0.7247 - acc: 0.5714
Epoch 8/50
14/14 - 0s - loss: 0.7225 - acc: 0.5714
Epoch 9/50
14/14 - 0s - loss: 0.7204 - acc: 0.5714
Epoch 10/50
14/14 - 0s - loss: 0.7183 - acc: 0.5714
Epoch 11/50
14/14 - 0s - loss: 0.7163 - acc: 0.5714
Epoch 12/50
14/14 - 0s - loss: 0.7142 - acc: 0.5714
Epoch 13/50
14/14 - 0s - loss: 0.7122 - acc: 0.5714
Epoch 14/50
14/14 - 0s - loss: 0.7102 - acc: 0.5714
Epoch 15/50
14/14 - 0s - loss: 0.7082 - acc: 0.5714
Epoch 16/50
14/14 - 0s - loss: 0.7062 - acc: 0.5714
Epoch 17/50
14/14 - 0s - loss: 0.7042 - acc: 0.5714
Epoch 18/50
14/14 - 0s - loss: 0.7023 - acc: 0.5714
Epoch 19/50
14/14 - 0s - loss: 0.7004 - acc: 0.5714
Epoch 20/50
14/14 - 0s - loss: 0.6985 - acc: 0.5714
Epoch 21/50
14/14 - 0s - loss: 0.6966 - acc: 0.5714
Epoch 22/50
14/14 - 0s - loss: 0.6947 - acc: 0.5714
Epoch 23/50
14/14 - 0s - loss: 0.6929 - acc: 0.5714
Epoch 24/50
14/14 - 0s - loss: 0.6910 - acc: 0.5714
Epoch 25/50
14/14 - 0s - loss: 0.6892 - acc: 0.6429
Epoch 26/50
14/14 - 0s - loss: 0.6875 - acc: 0.6429
Epoch 27/50
14/14 - 0s - loss: 0.6857 - acc: 0.6429
Epoch 28/50
14/14 - 0s - loss: 0.6839 - acc: 0.6429
Epoch 29/50
14/14 - 0s - loss: 0.6821 - acc: 0.6429
Epoch 30/50
14/14 - 0s - loss: 0.6803 - acc: 0.6429
Epoch 31/50
14/14 - 0s - loss: 0.6786 - acc: 0.6429
Epoch 32/50
14/14 - 0s - loss: 0.6769 - acc: 0.6429
Epoch 33/50
14/14 - 0s - loss: 0.6753 - acc: 0.6429
Epoch 34/50
14/14 - 0s - loss: 0.6737 - acc: 0.6429
Epoch 35/50
14/14 - 0s - loss: 0.6720 - acc: 0.6429
Epoch 36/50
14/14 - 0s - loss: 0.6704 - acc: 0.5714
Epoch 37/50
14/14 - 0s - loss: 0.6688 - acc: 0.5714
Epoch 38/50
14/14 - 0s - loss: 0.6673 - acc: 0.5714
Epoch 39/50
14/14 - 0s - loss: 0.6657 - acc: 0.5714
Epoch 40/50
14/14 - 0s - loss: 0.6641 - acc: 0.5714
Epoch 41/50
14/14 - 0s - loss: 0.6626 - acc: 0.5714
Epoch 42/50
14/14 - 0s - loss: 0.6611 - acc: 0.5714
Epoch 43/50
14/14 - 0s - loss: 0.6595 - acc: 0.5714
Epoch 44/50
14/14 - 0s - loss: 0.6581 - acc: 0.5714
Epoch 45/50
14/14 - 0s - loss: 0.6566 - acc: 0.5714
Epoch 46/50
14/14 - 0s - loss: 0.6552 - acc: 0.5714
Epoch 47/50
14/14 - 0s - loss: 0.6537 - acc: 0.5714
Epoch 48/50
14/14 - 0s - loss: 0.6523 - acc: 0.5714
Epoch 49/50
14/14 - 0s - loss: 0.6509 - acc: 0.5714
Epoch 50/50
14/14 - 0s - loss: 0.6495 - acc: 0.5714

In [19]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

5/5 - 0s - loss: 0.4185 - acc: 1.0000
Loss: 0.41853171586990356, Accuracy: 1.0