In [55]:
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import pandas as pd

In [56]:
csv = "recommendation.csv"
df = pd.read_csv(csv, encoding="ISO-8859-1")
df.shape

(145, 14)

In [57]:
new_df = df.drop(['Unnamed: 0'],axis=1)

In [58]:
new_df.head()

,School Name,Starting Median Salary,Mid-Career Median Salary,Mid-Career 90th Percentile Salary,MORTGAGE,RENT,ELECTRICITY,GAS,EAT-IN,PHONE,HLTH & WELL,VET,REGION
0,University of Oklahoma,44700.0,82900.0,167000.0,247758.0,776.12,154.08,2.18,13.32,164.24,680.75,46.79,Southern
1,Oklahoma State University,42800.0,80700.0,151000.0,247758.0,776.12,154.08,2.18,13.32,164.24,680.75,46.79,Southern
2,University of Louisiana (UL) at Lafayette,41100.0,76300.0,163000.0,259903.0,814.16,183.42,2.50,14.38,195.52,654.49,48.02,Southern
3,University of Colorado Denver,46100.0,84400.0,144000.0,463245.0,1451.00,156.76,2.75,14.37,167.10,790.34,55.28,Western
4,Regis University,48300.0,73800.0,117000.0,463245.0,1451.00,156.76,2.75,14.37,167.10,790.34,55.28,Western

In [63]:
X = new_df
y = new_df

X.dtypes

School Name                           object
Starting Median Salary               float64
Mid-Career Median Salary             float64
Mid-Career 90th Percentile Salary    float64
MORTGAGE                             float64
RENT                                 float64
ELECTRICITY                          float64
GAS                                  float64
EAT-IN                               float64
PHONE                                float64
HLTH & WELL                          float64
VET                                  float64
REGION                                object
dtype: object

In [60]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(116, 13) (116, 13)
(29, 13) (29, 13)

In [61]:
n_users = new_df['School Name'].unique().shape[0]
n_items = new_df.REGION.unique().shape[0]

In [62]:
data_matrix = np.zeros((n_users, n_items))

for line in new_df.itertuples():
    data_matrix[line[1]-1, line[2]-1] = line[3]

TypeError: unsupported operand type(s) for -: 'str' and 'int'