In [7]:
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import pandas as pd

In [8]:
csv = "recommendation.csv"
df = pd.read_csv(csv, encoding="ISO-8859-1")

df.shape

(145, 14)

In [9]:
df['School ID'] = df['Unnamed: 0'] 
new_df = df.drop(['Unnamed: 0'],axis=1)

In [10]:
new_df = new_df.replace(['Southern','Midwestern', 'Western', 'California', 'Northeastern' ], [0,1,2,3,4])
new_df[['School ID', 'REGION']] = new_df[['School ID', 'REGION']].apply(pd.to_numeric, errors='coerce')

In [12]:
new_df.head()
new_df.to_csv('Final_with_School_names.csv')

In [6]:
X = edited_df
y = edited_df

X.dtypes

Starting Median Salary               int64
Mid-Career Median Salary             int64
Mid-Career 90th Percentile Salary    int64
MORTGAGE                             int64
RENT                                 int64
ELECTRICITY                          int64
GAS                                  int64
EAT-IN                               int64
PHONE                                int64
HLTH & WELL                          int64
VET                                  int64
REGION                               int64
School ID                            int64
dtype: object

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(116, 13) (116, 13)
(29, 13) (29, 13)

In [8]:
n_users = edited_df['School ID'].unique().shape[0]
n_items = edited_df.REGION.unique().shape[0]
new_df['School ID']

0        0
1        1
2        3
3        4
4        5
5        7
6        8
7        9
8       10
9       11
10      12
11      13
12      14
13      15
14      16
15      17
16      18
17      19
18      20
19      21
20      22
21      23
22      24
23      25
24      26
25      27
26      28
27      29
28      30
29      31
      ...
115    130
116    131
117    133
118    136
119    137
120    138
121    139
122    140
123    141
124    142
125    143
126    144
127    146
128    147
129    148
130    149
131    150
132    151
133    152
134    153
135    155
136    156
137    157
138    158
139    159
140    160
141    161
142    162
143    163
144    164
Name: School ID, Length: 145, dtype: int64

In [9]:
data_matrix = np.zeros((n_users, n_items))

for line in edited_df.itertuples():
    print(line[1])
    data_matrix[line[12]-1, line[13]-1] = line[3]

44700
42800
41100
46100
48300
41100

IndexError: index 6 is out of bounds for axis 1 with size 5